$xl-screen-width: 1200px;
$lg-screen-width: 992px;
$md-screen-width: 768px;
$sm-screen-width: 576px;
$xs-container-width: 484px;

$globalnav-height: 48px;
$subnav-height: 60px;
$globalfooter-height: 54px;
$account-subnav-height: 49px;

$column-padding: 15px;
$input-height: 40px;
$input-spacing: 16px;

$border-radius: 4px;
$button-radius: 5px;

$gotham-narrow-font-stack: "Gotham Narrow A", "Gotham Narrow B", "Gotham Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
$clara-icons-font-stack: "clara-icons";
$xs-font-size: 12px;
$sm-font-size: 14px;
$base-font-size: 16px;
$sm-header-font-size: 18px;
$md-header-font-size: 24px;
$lg-header-font-size: 36px;
$base-text-spacing: 18px;
$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$color-font-primary: #140A29;
$color-font-placeholder: #9C96B1;
$color-link-primary: #007FFF;
$color-link-focus-outline: rgba(206, 0, 255, 0.4);
$color-form-error-bg: #FAEEB6;
$color-form-error-border: rgba(183, 148, 0, 0.55);
$color-border-primary: #D0CFD4;
$color-border-darker: #9C9B9F;
$color-border-lighter: #EBEAEF;

$color-button-primary: #00D6BA;
$color-focus: #AE00D8;
$color-error: #FF0058;
$color-error-highlight: #FFFCDC;
$color-success: #00CC56;
$color-panel: #F8F8F8;
$color-popover-error: #382B00;

$border-primary: 1px solid #D0CFD4;
$border-darker: 1px solid #9C9B9F;
$border-lighter: 1px solid #EBEAEF;

@mixin border-radius($mixin-border-radius) {
	-webkit-border-radius: $mixin-border-radius; /* Safari and Chrome */
	   -moz-border-radius: $mixin-border-radius; /* Firefox */
	    -ms-border-radius: $mixin-border-radius; /* Internet Explorer */
	  	    border-radius: $mixin-border-radius;
}

@mixin box-shadow($mixin-box-shadow) {
	-webkit-box-shadow: $mixin-box-shadow; /* Safari and Chrome */
	   -moz-box-shadow: $mixin-box-shadow; /* Firefox */
		-ms-box-shadow: $mixin-box-shadow; /* Internet Explorer */
		    box-shadow: $mixin-box-shadow;
}

@mixin box-sizing($mixin-box-sizing) {
	-webkit-box-sizing: $mixin-box-sizing; /* Safari and Chrome */
	   -moz-box-sizing: $mixin-box-sizing; /* Firefox */
		-ms-box-sizing: $mixin-box-sizing; /* Internet Explorer */
		    box-sizing: $mixin-box-sizing;
}

@mixin appearance($mixin-appearance) {
	-webkit-appearance: $mixin-appearance; /* Safari and Chrome */
	   -moz-appearance: $mixin-appearance; /* Firefox */
	        appearance: $mixin-appearance;
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased; /* Safari and Chrome */
	-moz-osx-font-smoothing: grayscale; /* Firefox */
}

/*-- LAYOUT --*/
.account-body {
	#globalnav {z-index:1;}
	.container {width:auto; max-width:$xl-screen-width; @include box-sizing(content-box); padding-left:20px; padding-right:20px;}
	.container.main-wrapper {padding-bottom:28px;}
	.manage {min-width:$xl-screen-width; height:100%; padding-bottom:54px;}

	.flow-section-border {border-top:1px solid #d4d4d4;}
	.flow-section {padding:30px 0 32px; padding-left:0; display:block;
		.row .column {min-height:53px;}
		.tall-row .column {min-height:80px;}
		.button-link {font-size:$sm-header-font-size;}
		.button-edit, .button-done, .button-cancel {font-size:13px; font-weight: $font-weight-book;}
		.button-done {background:$color-link-primary;}
		.button-cancel {clear:both; width:60px; text-align: center; margin-top:4px;}
		.editable {display:none;}
	}
	.field-push {margin-top:6px;}

	.editable-header {background:transparent url(../../global/images/account/clara_id_desktop_@2x.jpg) no-repeat; background-position:center 0%; background-size:cover;}

	#email-change-success {display:none; height:20px; width:20px; background:#00cc00 url(../../global/images/checkmark.svg); border-radius:10px; color:#fff; text-align:center; vertical-align:middle; float:right;}
	#emailResendCode {display:none;}

	/*-- ROWS --*/
	.row {margin:0 -15px 30px; position:relative; z-index:inherit; box-sizing:border-box;}
	.row:before, .row:after {content:' '; display:table;}
	.row:after {clear:both;}
	.row:last-child {margin-bottom:0;}

	.row.edit-row {border-bottom:1px solid #ECECEC; padding:20px 0; margin-bottom:0; z-index:inherit;
		.error-msg-wrapper:last-child .form-text {margin-bottom:0;}
	}
	.row.edit-row:last-of-type {border-bottom:none; padding-bottom:0;}
	.row.edit-row:first-child {padding-top:0;}
	.row.edit-row.flushbottom {padding-bottom:0;}

	.row.no-columns {margin:0;}
	.form-field-wrapper + .button-group {margin-top:8px;}
	.row.no-columns .column:first-child {padding-left:0;}
	.row.no-columns .column:last-child {padding-right:0;}

	/*-- ACCORDIAN --*/
	.accordian-fade {overflow:inherit; opacity:1; transition:opacity 0.4s linear;}
	accordian {display:block; transition:all 0.4s linear;}
	accordian.open, accordian.closed {overflow:hidden;}
	accordian.show-overflow {overflow:visible !important;}
	
	#profile accordian.open {height:496px;}
	#profile accordian.closed {height:136px;}
	
	#security accordian.open {height:254px;}
	#security accordian.closed {height:53px;}

	/*-- TYPOGRAPHY --*/
	.clara-user {font-weight: 200; font-size: 42px; margin: auto 0; display:block !important; line-height:inherit;}
	.clara-username {color: #fff; font-size: 24px; display: block; font-weight: 200; margin-top:0px; position:relative; top:-4px;}
	.clara-username strong {font-weight:400;}
	.clara-username .username {font-size:inherit;}
	.first-name, .last-name {white-space:nowrap;}

	.profile-value, .username, .role, .user-role, .user-birthday, .mobile-number, .card-number, .card-number-masked, .designation, .state-license-number, .npi-number, .dea-number, .active-licenses, .available-licenses {font-size:18px; margin-bottom:2px;}
	.active-licenses, .available-licenses {
		ul {margin:0;}
		.license-type {display:inline-block; margin-bottom:6px; vertical-align: middle;
			.license-quantity {/*border:1px solid white;*/ color:white; padding:5px 6px 3px; @include border-radius(14px); width:28px; height:28px; display:inline-block; text-align:center; vertical-align: baseline; line-height:1;}
		}
		.license-type.proCS .license-quantity {background-color:#7D28F7;}
		.license-type.pro .license-quantity {background-color:#3CA8CE;}
		.license-type.basic .license-quantity {background-color:#9699A3;}
	}
	.section-title {font-size:2em; font-weight:200; color:#817A92; margin-top:0; margin-bottom:12px; line-height:35px;}
	.section-subtitle {font-size:15px; font-weight:400; color:#817A92; text-transform:uppercase; margin:0; padding-bottom:2px; line-height:inherit;}
	.description {font-size:13.5px; color:#817A92;}

	/*-- PERSONA --*/
	.persona-splash {width:100%; height:230px; position:relative; padding-top:48px; overflow:hidden; color:#fff;}
	.persona-bg {position:absolute; overflow:hidden; width:100%; height:100%; top:0; left:0; border:none; background:transparent url(../images/account/clara_id_desktop_@2x.jpg) no-repeat; background-position:center 0%; background-size:cover;}
	.persona-bg.account {background:transparent url(../../licenses/images/facility_account_desktop_@2x.jpg) no-repeat; background-position:center 10%; background-size:cover;}
	.person-wrapper {z-index:0;}
	.flex-container {height:170px;}

	.switch {margin:auto 0; text-align:right; width:100%;}
	.switch .button-flat {background: rgba(0, 0, 0, 0.15); color: white; font-weight: 400;border-radius: 5px; font-size: 15px; padding: 8px 14px; line-height: normal; transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;}
	.switch .button-flat a {color:white;}
	.switch .button-flat:hover {background-color: rgba(0, 0, 0, 0.35);}

	/*-- ACCOUNT SUBNAV --*/
	#account-subnav {height:$account-subnav-height; border-bottom:$border-primary;
		* {@include box-sizing(content-box);}
		.sn-content {margin:0 auto; min-width:600px; max-width:$xl-screen-width; padding:0 20px; position:relative; z-index:2;}
		.sn-list {cursor:default; margin:0 -15px; padding:0; width:auto; height:$globalnav-height; text-align:left; list-style:none;}
		.sn-list::after {width: 100%; display: inline-block; content: "."; visibility: hidden}
		.sn-item {display:inline-block; position:relative; height:$globalnav-height; z-index:1; vertical-align:top;
			icon {padding-left:6px; font-size:9px;}
			.popover {padding:0;}
			.popover.bottom {margin-top:0;}
			.popover-content {padding:0; width:180px;
				.select-facility-row {border-bottom:$border-primary; padding:8px 12px;}
				.select-facility-row:last-child {border-bottom:none;}
			}
		}
		.sn-link {font-size:$sm-font-size; line-height:3.33333; opacity:1; position:relative; z-index:1; color:$color-font-primary; display:inline-block; padding:1px 20px; height:46px; background:no-repeat; text-decoration:none; white-space:nowrap; transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); outline:none; outline-offset:-7px; font-weight:$font-weight-book; cursor:pointer;}
		.sn-item.active .sn-link, .sn-link:hover {opacity: .55;}
		.sn-item.active:after {content: ""; width: 12px; height: 12px; display: block; position: absolute; bottom:-6px; left: 50%; margin-left:-7px; background: white; transform: rotate(45deg); border-top:$border-primary; border-left:$border-primary;}
		
		.menu-wrapper.pull-right {padding:7px 15px;
			button {font-size:14px; max-height:20px; vertical-align: middle; margin-left:8px;}
			.button-flat {padding:6px 12px;
				icon {padding-left:6px; padding-top:2px;}
			}
		}
	}

	/*-- POPOVERS --*/
	.popover {width:auto; max-width:360px;}
	.popover-content {padding:18px 20px;}

	.change-password-popover-content {width:100%;
		.error-msg-wrapper.has-error {margin-bottom:14px;}
		.password-strength {margin-top:12px; margin-bottom:12px;
			.error {line-height:1.85;
				.message {display:inline-block; vertical-align: middle;}
			}
			.hint {border-top:$border-primary; padding-top:6px; margin-top:14px; display:inline-block;}
		}
		.toolbar-footer .button-link {font-size:14px;}
	}
	
	/*-- POPOVER ERRORS --*/
	.error-msg-wrapper {
		.form-text.has-popover-error.has-error {background-color:$color-error-highlight !important; z-index: 1000;}
		.popover {background-color:$color-form-error-bg; border-color:$color-form-error-border; font-size:$base-font-size;
			.popover-content {padding:12px 16px;}
		}
		.popover.top>.arrow {border-top-color:rgba(183, 148, 0, 0.8);}
		.popover.top>.arrow:after {border-top-color:$color-form-error-bg;}
	}

	/*-- ACCORDIAN --*/
	.collapsed .row.header-row {margin-bottom:6px; cursor:pointer;}
	.collapsed:before {font-family:"clara-icons"; content:"\64"; display:block; position:absolute; top:16px; right:26px; font-size:28px; color:#817A92; cursor:pointer; opacity:1; transition:all 0.2 ease-in-out;}
	.collapsed.expanded:before { content:"\6a";}
	.collapsed .row.header-row .description {opacity:0; transition:all 0.15s linear;}
	.expanded .row.header-row .description {opacity:1;}

	.row.header-row .description.hide {width:0px; visibility:hidden; margin-left:0; transition-delay:0s;}
	.row.header-row .table-tools.show {opacity:1; visibility:visible; transition-delay:0.1s;}

	accordian.short {transition: 0.3s ease-out;}
	#admin-pending-users accordian.closed {height:0px;}
	#admin-pending-users accordian.open {height:190px;}

	/*-- BUTTONS --*/
	.button-group {display:flex; align-items:center;
		.button-link {border-right:1px solid #e3e3e3;}
		.button-link.button-compact {padding:0 15px;}
		.button-link:last-of-type {border-right:0; padding-right:0;}
	}
	
	/*-- TEAM --*/
	#user-mgmt {
		.btn-group.full-width {width:100%; margin-bottom:18px;}
		.btn-default {
			.badge {background-color:$color-font-placeholder; margin-left:6px;}
		}
		.btn-default.active {
			.badge {background-color:$color-link-primary;}
		}
		
		.table-wrapper {border:$border-primary; @include border-radius($border-radius);}
		.mg-team-table {line-height:1.4;
			th, td {border-bottom:$border-primary;}
			tr:last-child td {border-bottom:none;}
			th {padding:8px 12px; border-right:$border-primary; background-color:$color-panel;}
			th:last-child, td:last-child {border-right:none;}
			th:first-child {@include border-radius(4px 0 0 0);}
			th:last-child {@include border-radius(0 4px 0 0);}
			
			td {padding:4px 12px; border-right:$border-lighter;
				span {display:block;}
			}
			
			.user-name {font-weight:$font-weight-medium;}
			.clara-ID {font-size:14px;}
			.user-control {
				button {margin-left:8px; font-size:14px; color:$color-font-primary;}
				.popover {@include border-radius($border-radius); padding:18px 20px;}
				.popover-content {padding:0;}
				.controls-footer {margin-top:6px;
					.button-link {margin-left:10px; padding-left:10px; border-left:$border-primary; @include border-radius(0);}
					.button-link:first-child {margin-left:0; padding-left:0; border-left:none;}
					.secondary-action {opacity:0.5;}
					.primary-action {color:$color-link-primary;}
				}
				.controls-footer:before, .controls-footer:after {display:block; content:""; clear:both;}
			}
		}
	}
	
	.ca-account-overlay-popup {
		.row {margin-bottom:0;}
		.modal-content {padding:0;}
		.modal-body {padding:28px 28px 0;}
		.header {margin-bottom:16px;}
		.controls-footer {border-top:$border-primary; padding: 16px 18px; margin: 0;}
	}
	
	.option-toggle-wrap {margin-top:24px;}
	.option-quantity {width:52px; margin-bottom:2px;}
	.btn-option-details {color:$color-font-placeholder; font-size:13px;}
	.new-price-wrap {text-align: left; margin:24px auto;
		sup {top:-.25em;}
		.row {margin-bottom:12px;}
		.new-total {font-weight:$font-weight-medium;}
	}

	.assign-license-type-wrap {background-color:$color-panel; padding:12px 20px; margin-bottom:24px; border:$border-primary; @include border-radius($border-radius); text-align:left;
		.license-type-header {margin-bottom:12px;}
		.form-add-users {margin-bottom:4px;}
		.assigned-value-wrap {font-size:13px;}
	}
}

/*-- RESPONSIVE --*/
@media only screen and (max-device-width: 1024px) {
	.container {width:960px;}
}

@media only screen and (max-device-width: 991px) {
	.manage {min-width:inherit;}
}

@media only screen and (max-device-width: 991px) and (min-device-width: 737px) {
	.container {width: 750px; padding-left: 15px; padding-right: 15px;}
	.section-title {margin-top:-15px;}
}

@media only screen and (max-width: 768px) {
	.container {width:100%; padding-left:20px; padding-right:20px;}
	.row {margin-left:-20px; margin-right:-20px;}
	.column {padding-left:20px; padding-right:20px;}
	
	.manage .container .pad-top {padding-top:25px; padding-bottom:25px;}
	#buffoonery img {max-width:90%;}
}

@media only screen and (max-device-width: 736px) {
	.persona-splash {height:180px;}
	.flex-container {height:120px;}
	#profile accordian.closed, #security accordian.closed {height:0;}
	
	.pop-wrapper {width:100%;}
	.popover-content {display:none;}
	.toolbar-footer {padding-top:0;}
	
	.clara-user {margin:auto; text-align:center; font-size:32px;}
	.clara-username {font-size:18px;}
	.manage .flow-section [class*="-content"] [class*="-details"] {display:none;}
	.manage .flow-section {padding:0;}
	.flow-section .section-title {margin:0; padding:12px 0; font-size:24px; line-height:28px; display:block; width:100%;}
	.flow-section .section-title.mobile-edit:after {content: "\63"; font-family: "clara-icons"; float: right; color:#D91B5C; font-size: 24px;}
	
	.flow-section .editable {display:block; position:fixed; top:0; right:0; left:100%; min-height:100%; z-index:999; border-bottom:none; background:#fff; overflow-y:auto; width:100%; transition: left 0.3s;}
	.flow-section .editable.edit-mode {left:0; transition: left 0.3s;}
	.flow-section .editable .row.edit-row {padding-left:0px; padding-right:0px; margin-left:0; margin-right:0;}
	
	.editable .editable-header {position:relative; z-index:inherit; padding:15px 20px; height:64px; width:100%;}
	.editable .mobile-section-wrap {display:block; position:absolute; padding-top:20px; padding-bottom:20px; width:100%;}
	.mobile-section-title {color:#fff; float:left;}
	.flow-section .editable .button-done {display:none;}
	.flow-section .editable .button-done-mobile {display:block !important; float:right; color:#fff; background:rgba(0,0,0,.15); transition:color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out}
	.flow-section .editable .button-done-mobile:hover {background:rgba(0,0,0,.3);}
	
	.select-wrapper select {margin-bottom:14px;}
}