/*-- LAYOUT --*/
.account-body {
  /*-- ROWS --*/
  /*-- ACCORDIAN --*/
  /*-- TYPOGRAPHY --*/
  /*-- PERSONA --*/
  /*-- ACCOUNT SUBNAV --*/
  /*-- POPOVERS --*/
  /*-- POPOVER ERRORS --*/
  /*-- ACCORDIAN --*/
  /*-- BUTTONS --*/
  /*-- TEAM --*/ }
  .account-body #globalnav {
    z-index: 1; }
  .account-body .container {
    width: auto;
    max-width: 1200px;
    -webkit-box-sizing: content-box;
    /* Safari and Chrome */
    -moz-box-sizing: content-box;
    /* Firefox */
    -ms-box-sizing: content-box;
    /* Internet Explorer */
    box-sizing: content-box;
    padding-left: 20px;
    padding-right: 20px; }
  .account-body .container.main-wrapper {
    padding-bottom: 28px; }
  .account-body .manage {
    min-width: 1200px;
    height: 100%;
    padding-bottom: 54px; }
  .account-body .flow-section-border {
    border-top: 1px solid #d4d4d4; }
  .account-body .flow-section {
    padding: 30px 0 32px;
    padding-left: 0;
    display: block; }
    .account-body .flow-section .row .column {
      min-height: 53px; }
    .account-body .flow-section .tall-row .column {
      min-height: 80px; }
    .account-body .flow-section .button-link {
      font-size: 18px; }
    .account-body .flow-section .button-edit, .account-body .flow-section .button-done, .account-body .flow-section .button-cancel {
      font-size: 13px;
      font-weight: 400; }
    .account-body .flow-section .button-done {
      background: #007FFF; }
    .account-body .flow-section .button-cancel {
      clear: both;
      width: 60px;
      text-align: center;
      margin-top: 4px; }
    .account-body .flow-section .editable {
      display: none; }
  .account-body .field-push {
    margin-top: 6px; }
  .account-body .editable-header {
    background: transparent url(../../global/images/account/clara_id_desktop_@2x.jpg) no-repeat;
    background-position: center 0%;
    background-size: cover; }
  .account-body #email-change-success {
    display: none;
    height: 20px;
    width: 20px;
    background: #00cc00 url(../../global/images/checkmark.svg);
    border-radius: 10px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    float: right; }
  .account-body #emailResendCode {
    display: none; }
  .account-body .row {
    margin: 0 -15px 30px;
    position: relative;
    z-index: inherit;
    box-sizing: border-box; }
  .account-body .row:before, .account-body .row:after {
    content: ' ';
    display: table; }
  .account-body .row:after {
    clear: both; }
  .account-body .row:last-child {
    margin-bottom: 0; }
  .account-body .row.edit-row {
    border-bottom: 1px solid #ECECEC;
    padding: 20px 0;
    margin-bottom: 0;
    z-index: inherit; }
    .account-body .row.edit-row .error-msg-wrapper:last-child .form-text {
      margin-bottom: 0; }
  .account-body .row.edit-row:last-of-type {
    border-bottom: none;
    padding-bottom: 0; }
  .account-body .row.edit-row:first-child {
    padding-top: 0; }
  .account-body .row.edit-row.flushbottom {
    padding-bottom: 0; }
  .account-body .row.no-columns {
    margin: 0; }
  .account-body .form-field-wrapper + .button-group {
    margin-top: 8px; }
  .account-body .row.no-columns .column:first-child {
    padding-left: 0; }
  .account-body .row.no-columns .column:last-child {
    padding-right: 0; }
  .account-body .accordian-fade {
    overflow: inherit;
    opacity: 1;
    transition: opacity 0.4s linear; }
  .account-body accordian {
    display: block;
    transition: all 0.4s linear; }
  .account-body accordian.open, .account-body accordian.closed {
    overflow: hidden; }
  .account-body accordian.show-overflow {
    overflow: visible !important; }
  .account-body #profile accordian.open {
    height: 496px; }
  .account-body #profile accordian.closed {
    height: 136px; }
  .account-body #security accordian.open {
    height: 254px; }
  .account-body #security accordian.closed {
    height: 53px; }
  .account-body .clara-user {
    font-weight: 200;
    font-size: 42px;
    margin: auto 0;
    display: block !important;
    line-height: inherit; }
  .account-body .clara-username {
    color: #fff;
    font-size: 24px;
    display: block;
    font-weight: 200;
    margin-top: 0px;
    position: relative;
    top: -4px; }
  .account-body .clara-username strong {
    font-weight: 400; }
  .account-body .clara-username .username {
    font-size: inherit; }
  .account-body .first-name, .account-body .last-name {
    white-space: nowrap; }
  .account-body .profile-value, .account-body .username, .account-body .role, .account-body .user-role, .account-body .user-birthday, .account-body .mobile-number, .account-body .card-number, .account-body .card-number-masked, .account-body .designation, .account-body .state-license-number, .account-body .npi-number, .account-body .dea-number, .account-body .active-licenses, .account-body .available-licenses {
    font-size: 18px;
    margin-bottom: 2px; }
  .account-body .active-licenses ul, .account-body .available-licenses ul {
    margin: 0; }
  .account-body .active-licenses .license-type, .account-body .available-licenses .license-type {
    display: inline-block;
    margin-bottom: 6px;
    vertical-align: middle; }
    .account-body .active-licenses .license-type .license-quantity, .account-body .available-licenses .license-type .license-quantity {
      /*border:1px solid white;*/
      color: white;
      padding: 5px 6px 3px;
      -webkit-border-radius: 14px;
      /* Safari and Chrome */
      -moz-border-radius: 14px;
      /* Firefox */
      -ms-border-radius: 14px;
      /* Internet Explorer */
      border-radius: 14px;
      width: 28px;
      height: 28px;
      display: inline-block;
      text-align: center;
      vertical-align: baseline;
      line-height: 1; }
  .account-body .active-licenses .license-type.proCS .license-quantity, .account-body .available-licenses .license-type.proCS .license-quantity {
    background-color: #7D28F7; }
  .account-body .active-licenses .license-type.pro .license-quantity, .account-body .available-licenses .license-type.pro .license-quantity {
    background-color: #3CA8CE; }
  .account-body .active-licenses .license-type.basic .license-quantity, .account-body .available-licenses .license-type.basic .license-quantity {
    background-color: #9699A3; }
  .account-body .section-title {
    font-size: 2em;
    font-weight: 200;
    color: #817A92;
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 35px; }
  .account-body .section-subtitle {
    font-size: 15px;
    font-weight: 400;
    color: #817A92;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 2px;
    line-height: inherit; }
  .account-body .description {
    font-size: 13.5px;
    color: #817A92; }
  .account-body .persona-splash {
    width: 100%;
    height: 230px;
    position: relative;
    padding-top: 48px;
    overflow: hidden;
    color: #fff; }
  .account-body .persona-bg {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    background: transparent url(../images/account/clara_id_desktop_@2x.jpg) no-repeat;
    background-position: center 0%;
    background-size: cover; }
  .account-body .persona-bg.account {
    background: transparent url(../../licenses/images/facility_account_desktop_@2x.jpg) no-repeat;
    background-position: center 10%;
    background-size: cover; }
  .account-body .person-wrapper {
    z-index: 0; }
  .account-body .flex-container {
    height: 170px; }
  .account-body .switch {
    margin: auto 0;
    text-align: right;
    width: 100%; }
  .account-body .switch .button-flat {
    background: rgba(0, 0, 0, 0.15);
    color: white;
    font-weight: 400;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px 14px;
    line-height: normal;
    transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out; }
  .account-body .switch .button-flat a {
    color: white; }
  .account-body .switch .button-flat:hover {
    background-color: rgba(0, 0, 0, 0.35); }
  .account-body #account-subnav {
    height: 49px;
    border-bottom: 1px solid #D0CFD4; }
    .account-body #account-subnav * {
      -webkit-box-sizing: content-box;
      /* Safari and Chrome */
      -moz-box-sizing: content-box;
      /* Firefox */
      -ms-box-sizing: content-box;
      /* Internet Explorer */
      box-sizing: content-box; }
    .account-body #account-subnav .sn-content {
      margin: 0 auto;
      min-width: 600px;
      max-width: 1200px;
      padding: 0 20px;
      position: relative;
      z-index: 2; }
    .account-body #account-subnav .sn-list {
      cursor: default;
      margin: 0 -15px;
      padding: 0;
      width: auto;
      height: 48px;
      text-align: left;
      list-style: none; }
    .account-body #account-subnav .sn-list::after {
      width: 100%;
      display: inline-block;
      content: ".";
      visibility: hidden; }
    .account-body #account-subnav .sn-item {
      display: inline-block;
      position: relative;
      height: 48px;
      z-index: 1;
      vertical-align: top; }
      .account-body #account-subnav .sn-item icon {
        padding-left: 6px;
        font-size: 9px; }
      .account-body #account-subnav .sn-item .popover {
        padding: 0; }
      .account-body #account-subnav .sn-item .popover.bottom {
        margin-top: 0; }
      .account-body #account-subnav .sn-item .popover-content {
        padding: 0;
        width: 180px; }
        .account-body #account-subnav .sn-item .popover-content .select-facility-row {
          border-bottom: 1px solid #D0CFD4;
          padding: 8px 12px; }
        .account-body #account-subnav .sn-item .popover-content .select-facility-row:last-child {
          border-bottom: none; }
    .account-body #account-subnav .sn-link {
      font-size: 14px;
      line-height: 3.33333;
      opacity: 1;
      position: relative;
      z-index: 1;
      color: #140A29;
      display: inline-block;
      padding: 1px 20px;
      height: 46px;
      background: no-repeat;
      text-decoration: none;
      white-space: nowrap;
      transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      outline: none;
      outline-offset: -7px;
      font-weight: 400;
      cursor: pointer; }
    .account-body #account-subnav .sn-item.active .sn-link, .account-body #account-subnav .sn-link:hover {
      opacity: .55; }
    .account-body #account-subnav .sn-item.active:after {
      content: "";
      width: 12px;
      height: 12px;
      display: block;
      position: absolute;
      bottom: -6px;
      left: 50%;
      margin-left: -7px;
      background: white;
      transform: rotate(45deg);
      border-top: 1px solid #D0CFD4;
      border-left: 1px solid #D0CFD4; }
    .account-body #account-subnav .menu-wrapper.pull-right {
      padding: 7px 15px; }
      .account-body #account-subnav .menu-wrapper.pull-right button {
        font-size: 14px;
        max-height: 20px;
        vertical-align: middle;
        margin-left: 8px; }
      .account-body #account-subnav .menu-wrapper.pull-right .button-flat {
        padding: 6px 12px; }
        .account-body #account-subnav .menu-wrapper.pull-right .button-flat icon {
          padding-left: 6px;
          padding-top: 2px; }
  .account-body .popover {
    width: auto;
    max-width: 360px; }
  .account-body .popover-content {
    padding: 18px 20px; }
  .account-body .change-password-popover-content {
    width: 100%; }
    .account-body .change-password-popover-content .error-msg-wrapper.has-error {
      margin-bottom: 14px; }
    .account-body .change-password-popover-content .password-strength {
      margin-top: 12px;
      margin-bottom: 12px; }
      .account-body .change-password-popover-content .password-strength .error {
        line-height: 1.85; }
        .account-body .change-password-popover-content .password-strength .error .message {
          display: inline-block;
          vertical-align: middle; }
      .account-body .change-password-popover-content .password-strength .hint {
        border-top: 1px solid #D0CFD4;
        padding-top: 6px;
        margin-top: 14px;
        display: inline-block; }
    .account-body .change-password-popover-content .toolbar-footer .button-link {
      font-size: 14px; }
  .account-body .error-msg-wrapper .form-text.has-popover-error.has-error {
    background-color: #FFFCDC !important;
    z-index: 1000; }
  .account-body .error-msg-wrapper .popover {
    background-color: #FAEEB6;
    border-color: rgba(183, 148, 0, 0.55);
    font-size: 16px; }
    .account-body .error-msg-wrapper .popover .popover-content {
      padding: 12px 16px; }
  .account-body .error-msg-wrapper .popover.top > .arrow {
    border-top-color: rgba(183, 148, 0, 0.8); }
  .account-body .error-msg-wrapper .popover.top > .arrow:after {
    border-top-color: #FAEEB6; }
  .account-body .collapsed .row.header-row {
    margin-bottom: 6px;
    cursor: pointer; }
  .account-body .collapsed:before {
    font-family: "clara-icons";
    content: "\64";
    display: block;
    position: absolute;
    top: 16px;
    right: 26px;
    font-size: 28px;
    color: #817A92;
    cursor: pointer;
    opacity: 1;
    transition: all 0.2 ease-in-out; }
  .account-body .collapsed.expanded:before {
    content: "\6a"; }
  .account-body .collapsed .row.header-row .description {
    opacity: 0;
    transition: all 0.15s linear; }
  .account-body .expanded .row.header-row .description {
    opacity: 1; }
  .account-body .row.header-row .description.hide {
    width: 0px;
    visibility: hidden;
    margin-left: 0;
    transition-delay: 0s; }
  .account-body .row.header-row .table-tools.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.1s; }
  .account-body accordian.short {
    transition: 0.3s ease-out; }
  .account-body #admin-pending-users accordian.closed {
    height: 0px; }
  .account-body #admin-pending-users accordian.open {
    height: 190px; }
  .account-body .button-group {
    display: flex;
    align-items: center; }
    .account-body .button-group .button-link {
      border-right: 1px solid #e3e3e3; }
    .account-body .button-group .button-link.button-compact {
      padding: 0 15px; }
    .account-body .button-group .button-link:last-of-type {
      border-right: 0;
      padding-right: 0; }
  .account-body #user-mgmt .btn-group.full-width {
    width: 100%;
    margin-bottom: 18px; }
  .account-body #user-mgmt .btn-default .badge {
    background-color: #9C96B1;
    margin-left: 6px; }
  .account-body #user-mgmt .btn-default.active .badge {
    background-color: #007FFF; }
  .account-body #user-mgmt .table-wrapper {
    border: 1px solid #D0CFD4;
    -webkit-border-radius: 4px;
    /* Safari and Chrome */
    -moz-border-radius: 4px;
    /* Firefox */
    -ms-border-radius: 4px;
    /* Internet Explorer */
    border-radius: 4px; }
  .account-body #user-mgmt .mg-team-table {
    line-height: 1.4; }
    .account-body #user-mgmt .mg-team-table th, .account-body #user-mgmt .mg-team-table td {
      border-bottom: 1px solid #D0CFD4; }
    .account-body #user-mgmt .mg-team-table tr:last-child td {
      border-bottom: none; }
    .account-body #user-mgmt .mg-team-table th {
      padding: 8px 12px;
      border-right: 1px solid #D0CFD4;
      background-color: #F8F8F8; }
    .account-body #user-mgmt .mg-team-table th:last-child, .account-body #user-mgmt .mg-team-table td:last-child {
      border-right: none; }
    .account-body #user-mgmt .mg-team-table th:first-child {
      -webkit-border-radius: 4px 0 0 0;
      /* Safari and Chrome */
      -moz-border-radius: 4px 0 0 0;
      /* Firefox */
      -ms-border-radius: 4px 0 0 0;
      /* Internet Explorer */
      border-radius: 4px 0 0 0; }
    .account-body #user-mgmt .mg-team-table th:last-child {
      -webkit-border-radius: 0 4px 0 0;
      /* Safari and Chrome */
      -moz-border-radius: 0 4px 0 0;
      /* Firefox */
      -ms-border-radius: 0 4px 0 0;
      /* Internet Explorer */
      border-radius: 0 4px 0 0; }
    .account-body #user-mgmt .mg-team-table td {
      padding: 4px 12px;
      border-right: 1px solid #EBEAEF; }
      .account-body #user-mgmt .mg-team-table td span {
        display: block; }
    .account-body #user-mgmt .mg-team-table .user-name {
      font-weight: 500; }
    .account-body #user-mgmt .mg-team-table .clara-ID {
      font-size: 14px; }
    .account-body #user-mgmt .mg-team-table .user-control button {
      margin-left: 8px;
      font-size: 14px;
      color: #140A29; }
    .account-body #user-mgmt .mg-team-table .user-control .popover {
      -webkit-border-radius: 4px;
      /* Safari and Chrome */
      -moz-border-radius: 4px;
      /* Firefox */
      -ms-border-radius: 4px;
      /* Internet Explorer */
      border-radius: 4px;
      padding: 18px 20px; }
    .account-body #user-mgmt .mg-team-table .user-control .popover-content {
      padding: 0; }
    .account-body #user-mgmt .mg-team-table .user-control .controls-footer {
      margin-top: 6px; }
      .account-body #user-mgmt .mg-team-table .user-control .controls-footer .button-link {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid #D0CFD4;
        -webkit-border-radius: 0;
        /* Safari and Chrome */
        -moz-border-radius: 0;
        /* Firefox */
        -ms-border-radius: 0;
        /* Internet Explorer */
        border-radius: 0; }
      .account-body #user-mgmt .mg-team-table .user-control .controls-footer .button-link:first-child {
        margin-left: 0;
        padding-left: 0;
        border-left: none; }
      .account-body #user-mgmt .mg-team-table .user-control .controls-footer .secondary-action {
        opacity: 0.5; }
      .account-body #user-mgmt .mg-team-table .user-control .controls-footer .primary-action {
        color: #007FFF; }
    .account-body #user-mgmt .mg-team-table .user-control .controls-footer:before, .account-body #user-mgmt .mg-team-table .user-control .controls-footer:after {
      display: block;
      content: "";
      clear: both; }
  .account-body .ca-account-overlay-popup .row {
    margin-bottom: 0; }
  .account-body .ca-account-overlay-popup .modal-content {
    padding: 0; }
  .account-body .ca-account-overlay-popup .modal-body {
    padding: 28px 28px 0; }
  .account-body .ca-account-overlay-popup .header {
    margin-bottom: 16px; }
  .account-body .ca-account-overlay-popup .controls-footer {
    border-top: 1px solid #D0CFD4;
    padding: 16px 18px;
    margin: 0; }
  .account-body .option-toggle-wrap {
    margin-top: 24px; }
  .account-body .option-quantity {
    width: 52px;
    margin-bottom: 2px; }
  .account-body .btn-option-details {
    color: #9C96B1;
    font-size: 13px; }
  .account-body .new-price-wrap {
    text-align: left;
    margin: 24px auto; }
    .account-body .new-price-wrap sup {
      top: -.25em; }
    .account-body .new-price-wrap .row {
      margin-bottom: 12px; }
    .account-body .new-price-wrap .new-total {
      font-weight: 500; }
  .account-body .assign-license-type-wrap {
    background-color: #F8F8F8;
    padding: 12px 20px;
    margin-bottom: 24px;
    border: 1px solid #D0CFD4;
    -webkit-border-radius: 4px;
    /* Safari and Chrome */
    -moz-border-radius: 4px;
    /* Firefox */
    -ms-border-radius: 4px;
    /* Internet Explorer */
    border-radius: 4px;
    text-align: left; }
    .account-body .assign-license-type-wrap .license-type-header {
      margin-bottom: 12px; }
    .account-body .assign-license-type-wrap .form-add-users {
      margin-bottom: 4px; }
    .account-body .assign-license-type-wrap .assigned-value-wrap {
      font-size: 13px; }

/*-- RESPONSIVE --*/
@media only screen and (max-device-width: 1024px) {
  .container {
    width: 960px; } }
@media only screen and (max-device-width: 991px) {
  .manage {
    min-width: inherit; } }
@media only screen and (max-device-width: 991px) and (min-device-width: 737px) {
  .container {
    width: 750px;
    padding-left: 15px;
    padding-right: 15px; }

  .section-title {
    margin-top: -15px; } }
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; }

  .row {
    margin-left: -20px;
    margin-right: -20px; }

  .column {
    padding-left: 20px;
    padding-right: 20px; }

  .manage .container .pad-top {
    padding-top: 25px;
    padding-bottom: 25px; }

  #buffoonery img {
    max-width: 90%; } }
@media only screen and (max-device-width: 736px) {
  .persona-splash {
    height: 180px; }

  .flex-container {
    height: 120px; }

  #profile accordian.closed, #security accordian.closed {
    height: 0; }

  .pop-wrapper {
    width: 100%; }

  .popover-content {
    display: none; }

  .toolbar-footer {
    padding-top: 0; }

  .clara-user {
    margin: auto;
    text-align: center;
    font-size: 32px; }

  .clara-username {
    font-size: 18px; }

  .manage .flow-section [class*="-content"] [class*="-details"] {
    display: none; }

  .manage .flow-section {
    padding: 0; }

  .flow-section .section-title {
    margin: 0;
    padding: 12px 0;
    font-size: 24px;
    line-height: 28px;
    display: block;
    width: 100%; }

  .flow-section .section-title.mobile-edit:after {
    content: "\63";
    font-family: "clara-icons";
    float: right;
    color: #D91B5C;
    font-size: 24px; }

  .flow-section .editable {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 100%;
    min-height: 100%;
    z-index: 999;
    border-bottom: none;
    background: #fff;
    overflow-y: auto;
    width: 100%;
    transition: left 0.3s; }

  .flow-section .editable.edit-mode {
    left: 0;
    transition: left 0.3s; }

  .flow-section .editable .row.edit-row {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0; }

  .editable .editable-header {
    position: relative;
    z-index: inherit;
    padding: 15px 20px;
    height: 64px;
    width: 100%; }

  .editable .mobile-section-wrap {
    display: block;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%; }

  .mobile-section-title {
    color: #fff;
    float: left; }

  .flow-section .editable .button-done {
    display: none; }

  .flow-section .editable .button-done-mobile {
    display: block !important;
    float: right;
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
    transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out; }

  .flow-section .editable .button-done-mobile:hover {
    background: rgba(0, 0, 0, 0.3); }

  .select-wrapper select {
    margin-bottom: 14px; } }
