/*-- LAYOUT --*/
.rx-app {
  /*-- form controls --*/
  /*-- tyopgraphy --*/
  /*-- application view --*/
  /*-- confirm info panel --*/
  /*-- search list --*/
  /*-- medical history --*/
  /*-- write prescriptions --*/
  /*-- select a pharmacy --*/
  /*-- authorize prescriptions --*/
  /*-- edit patient --*/
  /*-- medical history modals --*/
  /*-- selectize overrides (DON'T USE IN FINAL MARKUP) --*/ }
  .rx-app .button-link {
    transition: all .2s ease; }
  .rx-app .ellipsis, .rx-app .detail, .rx-app .sub-detail {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .rx-app .icon, .rx-app .detail icon, .rx-app .row-header icon, .rx-app .allergies-section .rxn-label icon, .rx-app .button icon, .rx-app .patient-medical-history .fieldcontrols icon, .rx-app .medication .fieldcontrols icon, .rx-app .patient-medical-history .section-header .section-label icon, .rx-app .medication .section-header .section-label icon {
    padding-right: 6px;
    padding-bottom: 2px;
    vertical-align: text-bottom; }
  .rx-app .page-content {
    padding-top: 108px;
    padding-top: 48px;
    padding-bottom: 54px; }
    .rx-app .page-content .app-section-body-wrapper {
      position: relative; }
      .rx-app .page-content .app-section-body-wrapper .app-section-body-scroll {
        overflow: auto;
        margin: auto;
        z-index: 1;
        position: relative; }
  .rx-app .subnav, .rx-app .submenu {
    background: rgba(255, 255, 255, 0.96);
    width: 100%;
    height: 60px;
    position: absolute;
    top: 48px;
    border-bottom: 1px solid #D0CFD4;
    z-index: 5998; }
  .rx-app .subnav.affix, .rx-app .submenu.affix {
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.15);
    /* Safari and Chrome */
    -moz-box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.15);
    /* Firefox */
    -ms-box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.15);
    /* Internet Explorer */
    box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.15); }
  .rx-app .flow-section {
    max-width: 1200px;
    margin: auto;
    padding: 24px 0 30px;
    border-bottom: 1px solid #D0CFD4; }
    .rx-app .flow-section > .fieldgroup:last-child .form-text {
      margin-bottom: 0; }
  .rx-app .flow-section:last-child {
    border-bottom: none; }
  .rx-app .flow-section.medication:last-child {
    border-bottom: 1px solid #D0CFD4; }
  .rx-app .controls-footer {
    margin-top: 20px;
    font-size: 16px;
    text-align: center; }
  .rx-app .controls-footer.stickytray {
    background-color: #EFEFEF;
    height: 74px;
    border-top: 1px solid #D0CFD4;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }
    .rx-app .controls-footer.stickytray .flow-controls {
      padding-top: 16px; }
    .rx-app .controls-footer.stickytray .select-pharmacy-control {
      text-align: left;
      font-size: 12px;
      line-height: 1.25;
      padding-top: 12px; }
      .rx-app .controls-footer.stickytray .select-pharmacy-control .control-header icon {
        padding-right: 4px; }
      .rx-app .controls-footer.stickytray .select-pharmacy-control .inline-edit-link {
        margin-left: 10px; }
  .rx-app .has-controls.weight .form-text {
    padding-right: 56px; }
  .rx-app .has-controls.dosage .form-text {
    padding-right: calc(60% + 12px);
    text-align: right;
    border-right: 1px solid transparent; }
  .rx-app .control.dosage-unit {
    width: 60%;
    text-align: left;
    padding: 0; }
  .rx-app .dispense-amount {
    color: #9C96B1; }
  .rx-app .dosage-unit-select {
    border: none;
    outline: none;
    padding: 8px 12px 6px; }
  .rx-app .allergy-label {
    color: #00AB44 !important; }
  .rx-app .homemed-label {
    color: #720DBF !important; }
  .rx-app .diagnosis-label {
    color: #0B51FF !important; }
  .rx-app .prescriptions-label {
    color: #FF066C !important; }
  .rx-app .pharmacy-label {
    color: #FF7122 !important; }
  .rx-app .title h1 {
    text-align: center;
    line-height: 140px;
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-weight: 400; }
  .rx-app .app-header h1, .rx-app .modal-header h1 {
    text-align: center;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 500; }
    .rx-app .app-header h1 icon, .rx-app .modal-header h1 icon {
      font-size: 28px;
      padding-right: 8px; }
  .rx-app .pg-label {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.015em; }
  .rx-app .row-header, .rx-app .allergies-section .rxn-label {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.33333;
    color: #9C96B1; }
  .rx-app .section-title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1;
    display: inline-block; }
  .rx-app .app-section-header {
    padding: 22px 0 26px; }
  .rx-app .app-section-body {
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: content-box;
    /* Safari and Chrome */
    -moz-box-sizing: content-box;
    /* Firefox */
    -ms-box-sizing: content-box;
    /* Internet Explorer */
    box-sizing: content-box;
    /*margin-bottom:$globalfooter-height;*/ }
    .rx-app .app-section-body .stickytray {
      position: fixed;
      bottom: 54px;
      left: 0;
      right: 0;
      width: 100%;
      margin: 0; }
      .rx-app .app-section-body .stickytray .confirm-col {
        padding-top: 16px;
        padding-bottom: 16px;
        float: right; }
    .rx-app .app-section-body .controls-footer-bg {
      background-color: #FCFCFC;
      width: 50%;
      height: 74px;
      border-top: 1px solid #D0CFD4;
      border-left: 1px solid #D0CFD4;
      position: absolute;
      right: 0;
      bottom: 0; }
    .rx-app .app-section-body .flow-section:first-child {
      padding-top: 0; }
  .rx-app .app-section-body > .row {
    margin-left: -20px;
    margin-right: -20px; }
  .rx-app .app-background-edit, .rx-app .app-background-confirm {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 0; }
  .rx-app .app-background-edit {
    left: 0;
    min-width: 528px; }
  .rx-app .app-background-confirm {
    right: 0;
    border-left: 1px solid #D0CFD4;
    background-color: #FCFCFC; }
  .rx-app .edit-col, .rx-app .confirm-col {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%; }
  .rx-app .edit-col {
    padding-right: 80px;
    min-width: 579px; }
  .rx-app .confirm-col {
    padding-left: 80px; }
  .rx-app .detail, .rx-app .sub-detail, .rx-app .detail-overflow {
    display: inline-block; }
  .rx-app .sub-detail {
    font-size: 14px;
    color: #605868; }
  .rx-app .sub-detail.small {
    font-size: 11px;
    text-transform: uppercase; }
  .rx-app .detail icon {
    color: #9C96B1; }
  .rx-app .show-discontinued, .rx-app .hide-discontinued {
    display: none; }
  .rx-app .show-discontinued.active, .rx-app .hide-discontinued.active {
    display: inline-block; }
  .rx-app .add-more-wrapper {
    position: relative;
    padding: 10px 0px 14px; }
  .rx-app .add-more {
    /*position:absolute; bottom:-12px; right:0; background:white; padding-left:14px;*/ }
  .rx-app .list-item-controls.pull-right {
    text-align: right; }
    .rx-app .list-item-controls.pull-right .item-control-button {
      float: right;
      margin-left: 6px; }
  .rx-app .item-control-button {
    width: 20px;
    height: 20px;
    font-family: "clara-icons";
    background: none;
    border: none;
    font-size: 16px;
    opacity: 0.4;
    transition: opacity .25s ease; }
  .rx-app .item-control-button:hover {
    opacity: 1; }
  .rx-app .item-edit:before {
    content: "\6c"; }
  .rx-app .item-discontinue:before {
    content: "\78"; }
  .rx-app .item-markerror:before {
    content: "\45"; }
  .rx-app .item-recontinue:before {
    content: "\61"; }
  .rx-app .item-discontinue:hover, .rx-app .discontinue:hover {
    color: #FF6010; }
  .rx-app .item-markerror:hover, .rx-app .markerror:hover {
    color: #FF0058; }
  .rx-app .item-recontinue:hover, .rx-app .recontinue:hover {
    color: #007FFF; }
  .rx-app .confirm-info {
    -webkit-border-radius: 4px;
    /* Safari and Chrome */
    -moz-border-radius: 4px;
    /* Firefox */
    -ms-border-radius: 4px;
    /* Internet Explorer */
    border-radius: 4px;
    padding: 0px;
    /*.header.filled {color:$color-link-primary;}*/ }
    .rx-app .confirm-info .age {
      vertical-align: text-bottom; }
    .rx-app .confirm-info .header {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      line-height: 1; }
    .rx-app .confirm-info .confirm-info-flow {
      font-size: 16px;
      line-height: 1.25;
      padding: 10px 0;
      border-top: 1px solid #D0CFD4;
      opacity: .5; }
      .rx-app .confirm-info .confirm-info-flow .row-header, .rx-app .confirm-info .confirm-info-flow .allergies-section .rxn-label, .rx-app .allergies-section .confirm-info .confirm-info-flow .rxn-label {
        margin-bottom: 6px; }
      .rx-app .confirm-info .confirm-info-flow .row {
        padding: 6px 0; }
    .rx-app .confirm-info .confirm-info-flow.prescriptions .row-header, .rx-app .confirm-info .confirm-info-flow.prescriptions .allergies-section .rxn-label, .rx-app .allergies-section .confirm-info .confirm-info-flow.prescriptions .rxn-label {
      margin-bottom: 0; }
    .rx-app .confirm-info .confirm-info-flow.prescriptions .rx-det-item, .rx-app .confirm-info .confirm-info-flow.prescriptions .row {
      padding: 0; }
    .rx-app .confirm-info .confirm-info-flow.prescriptions .rx-det-main {
      padding-top: 11px;
      padding-bottom: 9px; }
      .rx-app .confirm-info .confirm-info-flow.prescriptions .rx-det-main .row {
        padding-top: 3px; }
      .rx-app .confirm-info .confirm-info-flow.prescriptions .rx-det-main .row:first-child {
        padding-top: 0; }
    .rx-app .confirm-info .confirm-info-flow.prescriptions .queue-rx-print {
      text-align: center;
      font-size: 36px;
      line-height: normal;
      color: #007FFF;
      background-color: #DEF9FF;
      padding: 8px 0;
      cursor: pointer; }
      .rx-app .confirm-info .confirm-info-flow.prescriptions .queue-rx-print icon {
        vertical-align: middle;
        padding-bottom: 0.125em; }
    .rx-app .confirm-info .confirm-info-flow.prescriptions .queue-rx-print.marked {
      color: #9C9B9F;
      background-color: #EBEAEF; }
    .rx-app .confirm-info .confirm-info-flow.pharmacy .pharmacy-confirm-wrap .pharmacy-name, .rx-app .confirm-info .confirm-info-flow.pharmacy .pharmacy-confirm-wrap .pharmacy-filters {
      font-weight: 500; }
    .rx-app .confirm-info .confirm-info-flow.pharmacy .pharmacy-confirm-wrap .pharmacy-address-wrap span {
      display: block; }
    .rx-app .confirm-info .confirm-info-flow.pharmacy .pharmacy-confirm-wrap .pharmacy-details div {
      display: inline-block;
      clear: both; }
    .rx-app .confirm-info .confirm-info-flow.pharmacy .pharmacy-confirm-wrap .pharmacy-details .pharmacy-contact-wrap {
      margin-top: 4px; }
    .rx-app .confirm-info .confirm-info-flow.current-flow-step {
      opacity: 1; }
    .rx-app .confirm-info .confirm-info-flow:first-child, .rx-app .confirm-info .confirm-info-flow.first {
      border-top: none;
      padding-top: 0; }
    .rx-app .confirm-info .confirm-info-flow:last-child {
      padding-bottom: 0; }
    .rx-app .confirm-info .confirm-info-sticky {
      line-height: 1.25; }
      .rx-app .confirm-info .confirm-info-sticky .row {
        padding: 4px 0 6px; }
      .rx-app .confirm-info .confirm-info-sticky .confirm-info-item {
        padding: 0 18px;
        border-left: 1px solid #9C9B9F; }
      .rx-app .confirm-info .confirm-info-sticky .confirm-info-item.first {
        padding-left: 0;
        border-left: none; }
    .rx-app .confirm-info .button-group.pull-left .button-link:first-child {
      padding-left: 0; }
    .rx-app .confirm-info .detail, .rx-app .confirm-info .detail-overflow {
      margin-top: -4px; }
  .rx-app .confirm-info.empty .header {
    font-weight: 300; }
  .rx-app .fieldcontrols .list-populate .selectize-control, .rx-app .fieldcontrols .list-populate .checkbox-wrapper {
    margin-bottom: 10px; }
  .rx-app .fieldcontrols .selectize-control {
    width: 83.33333%;
    display: inline-block;
    height: 40px;
    margin-bottom: 16px; }
  .rx-app .fieldcontrols .error-msg-wrapper .selectize-control {
    width: 100%; }
  .rx-app .fieldcontrols .checkbox-wrapper {
    display: inline-block;
    height: 40px;
    margin-bottom: 16px;
    vertical-align: middle;
    padding-left: 16px;
    padding-top: 6px;
    color: #9C96B1;
    float: right; }
  .rx-app .fieldcontrols .checkbox-wrapper .checkbox {
    position: relative;
    top: -1px;
    margin: 0;
    display: inline-block; }
  .rx-app .checkbox + label {
    padding-left: 6px;
    line-height: 1;
    font-weight: normal; }
  .rx-app .list-values {
    width: 100%; }
  .rx-app .ordered-list {
    margin-bottom: 0;
    list-style-position: inside;
    list-style-type: none;
    margin-left: 0; }
    .rx-app .ordered-list li {
      padding: 10px 0;
      min-height: 40px;
      line-height: 1.2;
      border-bottom: 1px solid #D0CFD4; }
    .rx-app .ordered-list li:last-of-type {
      border-bottom: 0; }
    .rx-app .ordered-list .rx-drug-name {
      font-weight: 500; }
    .rx-app .ordered-list .discontinued-list {
      background: rgba(65, 65, 65, 0.06);
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      /*height:0px; overflow:hidden;*/
      transition: all .25s ease; }
    .rx-app .ordered-list .discontinued-label {
      font-size: 12px;
      text-transform: uppercase;
      font-style: italic;
      color: #605868; }
    .rx-app .ordered-list .discontinued-item span, .rx-app .ordered-list .discontinued-item label {
      opacity: .6; }
    .rx-app .ordered-list .discontinued-border {
      width: 100%;
      height: 1px;
      border-top: 1px solid #D0CFD4;
      float: left; }
    .rx-app .ordered-list .discontinued-border:last-child {
      display: none; }
  .rx-app .patient-medical-history .fieldcontrols, .rx-app .medication .fieldcontrols {
    padding: 24px 20px 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: -20px;
    margin-right: -20px; }
    .rx-app .patient-medical-history .fieldcontrols .list-home-med-details, .rx-app .medication .fieldcontrols .list-home-med-details {
      width: 90%;
      max-width: 452px; }
    .rx-app .patient-medical-history .fieldcontrols .list-item-controls, .rx-app .medication .fieldcontrols .list-item-controls {
      min-width: 52px;
      height: 20px; }
    .rx-app .patient-medical-history .fieldcontrols icon, .rx-app .medication .fieldcontrols icon {
      font-size: 15px;
      padding-bottom: 3px; }
  .rx-app .patient-medical-history .section-header .section-label, .rx-app .medication .section-header .section-label {
    font-weight: 500;
    display: inline; }
    .rx-app .patient-medical-history .section-header .section-label icon, .rx-app .medication .section-header .section-label icon {
      font-size: 15px;
      padding-bottom: 3px; }
  .rx-app .patient-medical-history .section-header .button-group, .rx-app .medication .section-header .button-group {
    margin: 0 -15px; }
    .rx-app .patient-medical-history .section-header .button-group .button-link, .rx-app .medication .section-header .button-group .button-link {
      padding: 0 15px;
      border-left: 1px solid #D0CFD4; }
    .rx-app .patient-medical-history .section-header .button-group .button-link:first-child, .rx-app .medication .section-header .button-group .button-link:first-child {
      border-left: none; }
  .rx-app .patient-medical-history .section-header .button-group.condensed, .rx-app .medication .section-header .button-group.condensed {
    margin: 0 -2px; }
    .rx-app .patient-medical-history .section-header .button-group.condensed .button-link, .rx-app .patient-medical-history .section-header .button-group.condensed .button-link.button-icon, .rx-app .medication .section-header .button-group.condensed .button-link, .rx-app .medication .section-header .button-group.condensed .button-link.button-icon {
      border: none;
      padding: 0 8px; }
    .rx-app .patient-medical-history .section-header .button-group.condensed .button-link.button-icon, .rx-app .medication .section-header .button-group.condensed .button-link.button-icon {
      padding: 0 2px;
      color: #9C96B1; }
  .rx-app .patient-medical-history .fieldcontrols.first, .rx-app .medication .fieldcontrols.first {
    padding-top: 0; }
  .rx-app .patient-medical-history .allergies-section, .rx-app .patient-medical-history .diagnoses-section, .rx-app .medication .allergies-section, .rx-app .medication .diagnoses-section {
    background: #FFFFFF; }
  .rx-app .patient-medical-history .homemeds-section, .rx-app .medication .homemeds-section {
    background: #FCFCFC; }
  .rx-app .edit-patient-content .homemeds-section {
    background: #FFFFFF; }
  .rx-app .edit-patient-content .medical-history-content > .flow-section:last-child {
    border-bottom: none; }
  .rx-app .allergies-section .allergy, .rx-app .allergies-section .rxn, .rx-app .allergies-section .rxn-label {
    display: inline-block;
    vertical-align: middle; }
  .rx-app .allergies-section .allergy, .rx-app .allergies-section .rxn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .rx-app .allergies-section .allergy {
    width: 25%;
    margin-right: 16px; }
  .rx-app .allergies-section .rxn {
    width: 50%; }
  .rx-app .allergies-section .rxn-label {
    font-size: 12px;
    line-height: 1.18;
    margin-right: 4px;
    vertical-align: text-bottom; }
  .rx-app .homemeds-section .home-medication-name {
    width: 40%; }
  .rx-app .homemeds-section .home-medication-dosage {
    width: 15%; }
  .rx-app .homemeds-section .home-medication-frequency {
    width: 22.5%; }
  .rx-app .homemeds-section .home-medication-last-taken {
    width: 22.5%; }
  .rx-app .medications-wrapper {
    /*.medication:first-child {height:$medication-height-expanded;}*/ }
    .rx-app .medications-wrapper .flow-section {
      box-sizing: content-box; }
    .rx-app .medications-wrapper .expand-button-wrap {
      display: none;
      opacity: 0.5; }
    .rx-app .medications-wrapper .medication-item-wrap {
      position: relative; }
      .rx-app .medications-wrapper .medication-item-wrap .medication {
        padding-top: 16px; }
      .rx-app .medications-wrapper .medication-item-wrap .medication.collapsed + .expand-button-wrap {
        display: inline-flex;
        float: left;
        position: absolute;
        width: 24px;
        height: 112px;
        left: -36px;
        top: 0; }
        .rx-app .medications-wrapper .medication-item-wrap .medication.collapsed + .expand-button-wrap .expand-medication-button {
          margin: auto;
          font-family: "clara-icons";
          background: none;
          outline: none;
          border: none; }
        .rx-app .medications-wrapper .medication-item-wrap .medication.collapsed + .expand-button-wrap .expand-medication-button:before {
          content: "\67";
          font-size: 24px; }
    .rx-app .medications-wrapper .medication-item-wrap:first-child .medication, .rx-app .medications-wrapper .medication-item-wrap:first-child .medication.collapsed {
      padding-top: 0; }
    .rx-app .medications-wrapper .medication {
      height: 242px;
      transition: height .35s ease;
      position: relative; }
      .rx-app .medications-wrapper .medication .fieldgroup {
        opacity: 1;
        visibility: visible;
        transition: all .2s ease .4s; }
      .rx-app .medications-wrapper .medication .medication-save-changes-btn {
        display: none; }
      .rx-app .medications-wrapper .medication .medication-favorite-btn .icon-favorite {
        color: #9C96B1; }
      .rx-app .medications-wrapper .medication .medication-favorite-btn .icon-favorite-selected {
        color: #FFB806; }
    .rx-app .medications-wrapper .medication:only-child .medication-edit-btn, .rx-app .medications-wrapper .medication .medication-edit-btn {
      display: none; }
    .rx-app .medications-wrapper .medication:only-child .medication-delete-btn {
      display: none; }
    .rx-app .medications-wrapper .medication.has-note {
      height: 320px; }
      .rx-app .medications-wrapper .medication.has-note .medication-pharmacynote-btn {
        color: #FF066C !important; }
    .rx-app .medications-wrapper .medication.collapsed {
      height: 78px !important;
      display: block;
      overflow: hidden;
      /*background:$color-panel; margin-left:-20px; margin-right:-20px; padding:16px 20px 18px;*/
      padding-top: 16px;
      padding-bottom: 18px;
      animation: collapse-medication-slide 450ms both;
      opacity: 1; }
      .rx-app .medications-wrapper .medication.collapsed .medication-edit-btn {
        display: inline-block; }
      .rx-app .medications-wrapper .medication.collapsed .fieldgroup {
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease .1s; }
      .rx-app .medications-wrapper .medication.collapsed .drug-name {
        display: block;
        visibility: visible; }
        .rx-app .medications-wrapper .medication.collapsed .drug-name .form-text {
          background: none; }
      .rx-app .medications-wrapper .medication.collapsed .section-title, .rx-app .medications-wrapper .medication.collapsed .drug-name {
        opacity: 0.4; }
    .rx-app .medications-wrapper .medication.expanded {
      animation: expand-medication-slide 450ms both;
      opacity: 1; }
      .rx-app .medications-wrapper .medication.expanded .medication-edit-btn {
        display: none; }
      .rx-app .medications-wrapper .medication.expanded .medication-save-changes-btn {
        display: inline-block; }
    .rx-app .medications-wrapper .medication.has-note.expanded {
      animation: expand-medication-note-slide 450ms both; }
    .rx-app .medications-wrapper .refill-quantity, .rx-app .medications-wrapper .substitutes {
      display: flex;
      align-content: center; }
      .rx-app .medications-wrapper .refill-quantity .refills, .rx-app .medications-wrapper .substitutes .refills {
        /*width:48px;*/
        width: 75%;
        border: 1px solid #D0CFD4;
        border-radius: 0px 4px 4px 0px; }
      .rx-app .medications-wrapper .refill-quantity label, .rx-app .medications-wrapper .substitutes label {
        padding-left: 10px;
        margin: auto 0;
        font-weight: 400;
        color: #9C96B1;
        cursor: pointer; }
    .rx-app .medications-wrapper .label-vertical-center {
      display: flex;
      align-content: center;
      height: 40px; }
    .rx-app .medications-wrapper .pharmacy-note, .rx-app .medications-wrapper .pharmacy-note + .remove-note {
      display: none; }
    .rx-app .medications-wrapper .pharmacy-note.show {
      display: block;
      animation: expand-pharmacy-note 350ms both; }
    .rx-app .medications-wrapper .pharmacy-note.show + .remove-note {
      display: block; }
    .rx-app .medications-wrapper .remove-note {
      float: right;
      padding-top: 3px; }
      .rx-app .medications-wrapper .remove-note button {
        font-size: 11px;
        display: block; }
@keyframes collapse-medication-slide {
  0% {
    height: 242px;
    /*background:white;*/ }
  100% {
    height: 78px;
    /*background:$color-panel;*/ } }
@keyframes expand-medication-slide {
  0% {
    height: 78px;
    /*background:$color-panel;*/ }
  100% {
    height: 242px;
    /*background:white;*/ } }
@keyframes expand-medication-note-slide {
  0% {
    height: 78px;
    /*background:$color-panel;*/ }
  100% {
    height: 320px;
    /*background:white;*/ } }
@keyframes expand-pharmacy-note {
  0% {
    height: 0px;
    padding-top: 0;
    padding-bottom: 0; }
  100% {
    height: 62px; } }
@keyframes hide-pharmacy-note {
  0% {
    height: 62px; }
  100% {
    height: 0px;
    padding-top: 0;
    padding-bottom: 0; } }
  .rx-app .select-pharmacy .pharmacy-search-form .pharmacy-name-wrapper {
    padding-right: 30px; }
    .rx-app .select-pharmacy .pharmacy-search-form .pharmacy-name-wrapper .pharmacy-name {
      border-right: 1px solid #D0CFD4;
      -webkit-border-radius: 4px;
      /* Safari and Chrome */
      -moz-border-radius: 4px;
      /* Firefox */
      -ms-border-radius: 4px;
      /* Internet Explorer */
      border-radius: 4px; }
  .rx-app .select-pharmacy .pharmacy-search-form .proximity-search-wrapper {
    margin-top: -8px; }
  .rx-app .select-pharmacy .pharmacy-search-form .field-label {
    font-size: 14px; }
  .rx-app .select-pharmacy .pharmacy-search-form .button-menu-item {
    padding: 6px 14px; }
  .rx-app .select-pharmacy .proximity-selection-wrap .option-wrap {
    display: inline-block;
    margin-left: 28px; }
  .rx-app .select-pharmacy .proximity-selection-wrap .button, .rx-app .select-pharmacy .proximity-selection-wrap .section-title, .rx-app .select-pharmacy .proximity-selection-wrap .field-label {
    margin-right: 10px;
    float: left; }
  .rx-app .select-pharmacy .proximity-selection-wrap .input-wrapper:first-child {
    margin-right: -1px; }
  .rx-app .select-pharmacy .proximity-selection-wrap .button {
    height: 40px;
    z-index: 1; }
  .rx-app .select-pharmacy .proximity-selection-wrap .button.active, .rx-app .select-pharmacy .proximity-selection-wrap .button:hover, .rx-app .select-pharmacy .proximity-selection-wrap .button:focus {
    border: 1px solid; }
  .rx-app .select-pharmacy .proximity-selection-wrap .button:hover, .rx-app .select-pharmacy .proximity-selection-wrap .button:focus, .rx-app .select-pharmacy .proximity-selection-wrap .button.active {
    z-index: 2; }
  .rx-app .select-pharmacy .proximity-selection-wrap .button:focus {
    border: 1px solid #AE00D8 !important;
    -webkit-box-shadow: 0 0 0 3px rgba(206, 0, 255, 0.2);
    /* Safari and Chrome */
    -moz-box-shadow: 0 0 0 3px rgba(206, 0, 255, 0.2);
    /* Firefox */
    -ms-box-shadow: 0 0 0 3px rgba(206, 0, 255, 0.2);
    /* Internet Explorer */
    box-shadow: 0 0 0 3px rgba(206, 0, 255, 0.2); }
  .rx-app .select-pharmacy .filtergroup {
    font-size: 14px;
    margin-top: 8px; }
    .rx-app .select-pharmacy .filtergroup .button {
      margin-bottom: 10px; }
    .rx-app .select-pharmacy .filtergroup .input-wrapper .button-menu-item {
      margin-right: 8px; }
    .rx-app .select-pharmacy .filtergroup .button:hover, .rx-app .select-pharmacy .filtergroup .button:focus {
      z-index: 2;
      background-color: #DEF9FF; }
    .rx-app .select-pharmacy .filtergroup .button:hover {
      border-color: #007FFF; }
    .rx-app .select-pharmacy .filtergroup .button:focus {
      z-index: 2;
      border: 1px solid #AE00D8 !important;
      -webkit-box-shadow: 0 0 0 3px rgba(206, 0, 255, 0.2);
      /* Safari and Chrome */
      -moz-box-shadow: 0 0 0 3px rgba(206, 0, 255, 0.2);
      /* Firefox */
      -ms-box-shadow: 0 0 0 3px rgba(206, 0, 255, 0.2);
      /* Internet Explorer */
      box-shadow: 0 0 0 3px rgba(206, 0, 255, 0.2); }
    .rx-app .select-pharmacy .filtergroup .button-menu-item .icon-checkmark {
      padding: 2px 0 0 8px;
      margin: 0;
      outline: 0; }
    .rx-app .select-pharmacy .filtergroup .button-menu-item .icon-checkmark:before {
      content: "\69"; }
    .rx-app .select-pharmacy .filtergroup .button-menu-item:focus, .rx-app .select-pharmacy .filtergroup .button-menu-item.selected {
      color: #00CC56;
      border-color: #00CC56 !important;
      -webkit-box-shadow: none;
      /* Safari and Chrome */
      -moz-box-shadow: none;
      /* Firefox */
      -ms-box-shadow: none;
      /* Internet Explorer */
      box-shadow: none;
      background-color: #e3fcee;
      font-weight: 500; }
      .rx-app .select-pharmacy .filtergroup .button-menu-item:focus .icon-checkmark, .rx-app .select-pharmacy .filtergroup .button-menu-item.selected .icon-checkmark {
        padding: 2px 0 0 8px; }
      .rx-app .select-pharmacy .filtergroup .button-menu-item:focus .icon-checkmark:before, .rx-app .select-pharmacy .filtergroup .button-menu-item.selected .icon-checkmark:before {
        content: "\64"; }
  .rx-app .select-pharmacy .pharmacy-results-wrap {
    margin-top: 4px;
    min-height: 210px;
    border: 1px solid #D0CFD4;
    -webkit-border-radius: 4px;
    /* Safari and Chrome */
    -moz-border-radius: 4px;
    /* Firefox */
    -ms-border-radius: 4px;
    /* Internet Explorer */
    border-radius: 4px;
    -webkit-box-sizing: content-box;
    /* Safari and Chrome */
    -moz-box-sizing: content-box;
    /* Firefox */
    -ms-box-sizing: content-box;
    /* Internet Explorer */
    box-sizing: content-box;
    z-index: 2; }
    .rx-app .select-pharmacy .pharmacy-results-wrap .row {
      margin: 0;
      height: inherit;
      min-height: inherit; }
    .rx-app .select-pharmacy .pharmacy-results-wrap .column {
      padding: 0;
      height: inherit;
      min-height: inherit; }
    .rx-app .select-pharmacy .pharmacy-results-wrap .no-results-wrap {
      display: flex;
      align-items: center;
      height: inherit; }
      .rx-app .select-pharmacy .pharmacy-results-wrap .no-results-wrap .no-results {
        margin-left: auto;
        margin-right: auto;
        font-size: 21px;
        opacity: 0.2; }
    .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list {
      overflow: auto;
      /*border-right:$border-primary;*/
      height: inherit;
      min-height: inherit; }
      .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result {
        border-bottom: 1px solid #D0CFD4;
        padding: 6px 8px;
        font-size: 14px;
        line-height: 1.25; }
        .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result .pharmacy-name {
          font-weight: 500;
          display: inline-block;
          width: 100%;
          margin-bottom: -4px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result .pharmacy-filters-wrap {
          margin-bottom: 2px; }
          .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result .pharmacy-filters-wrap .pharmacy-filters {
            color: #9C96B1; }
        .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result .pharmacy-address-wrap span {
          display: block; }
        .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result .pharmacy-main-info-wrap, .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result .pharmacy-contact-wrap {
          float: left; }
        .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result .pharmacy-phone, .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result .pharmacy-fax {
          display: block;
          padding-bottom: 2px; }
        .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result .pharmacy-phone:before, .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result .pharmacy-fax:before {
          font-family: "clara-icons";
          padding-right: 4px;
          vertical-align: text-top; }
        .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result .pharmacy-phone:before {
          content: "\7a"; }
        .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result .pharmacy-fax:before {
          content: "\4d"; }
      .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result:last-child {
        border-bottom: none; }
      .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result.selected {
        background-color: #DEF9FF; }
        .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-list .pharmacy-result.selected .pharmacy-name {
          color: #007FFF; }
    .rx-app .select-pharmacy .pharmacy-results-wrap .pharmacy-results-map {
      margin-bottom: -7px;
      height: inherit;
      min-height: inherit;
      z-index: 1; }
  .rx-app .page-content.auth-prescriptions-content {
    padding-top: 177px; }
  .rx-app .authorize-prescriptions-wrap {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.25; }
    .rx-app .authorize-prescriptions-wrap .container {
      max-width: 960px;
      -webkit-box-sizing: content-box;
      /* Safari and Chrome */
      -moz-box-sizing: content-box;
      /* Firefox */
      -ms-box-sizing: content-box;
      /* Internet Explorer */
      box-sizing: content-box; }
    .rx-app .authorize-prescriptions-wrap .rx-header {
      background: #FCFCFC;
      width: 100%;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 999;
      -webkit-box-sizing: border-box;
      /* Safari and Chrome */
      -moz-box-sizing: border-box;
      /* Firefox */
      -ms-box-sizing: border-box;
      /* Internet Explorer */
      box-sizing: border-box;
      padding-top: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid #D0CFD4;
      top: 48px; }
    .rx-app .authorize-prescriptions-wrap .auth-break-wrap span {
      display: block; }
    .rx-app .authorize-prescriptions-wrap .auth-break-wrap label {
      color: #9C96B1; }
    .rx-app .authorize-prescriptions-wrap .auth-break-wrap .date-issued, .rx-app .authorize-prescriptions-wrap .auth-break-wrap .prescriber-DEA-number {
      display: inline; }
    .rx-app .authorize-prescriptions-wrap .patient-name {
      font-size: 32px;
      font-weight: 400; }
    .rx-app .authorize-prescriptions-wrap .prescriber-name {
      font-weight: 500; }
    .rx-app .authorize-prescriptions-wrap .ordered-list li {
      border-bottom-color: #D0CFD4; }
    .rx-app .authorize-prescriptions-wrap .rx-auth-ready {
      padding: 0;
      cursor: pointer; }
      .rx-app .authorize-prescriptions-wrap .rx-auth-ready .rx-info-wrap {
        padding-top: 12px;
        padding-bottom: 12px; }
        .rx-app .authorize-prescriptions-wrap .rx-auth-ready .rx-info-wrap .sub-detail {
          display: block;
          font-size: 16px;
          line-height: 1.35; }
      .rx-app .authorize-prescriptions-wrap .rx-auth-ready .rx-drug-name {
        font-size: 21px; }
      .rx-app .authorize-prescriptions-wrap .rx-auth-ready .confirm-auth-ready {
        text-align: center;
        font-size: 64px;
        color: white;
        line-height: normal;
        background-color: #EBEAEF;
        padding: 8px 0; }
        .rx-app .authorize-prescriptions-wrap .rx-auth-ready .confirm-auth-ready icon {
          vertical-align: middle;
          padding-bottom: 0.125em; }
      .rx-app .authorize-prescriptions-wrap .rx-auth-ready .confirm-auth-ready.marked {
        background-color: #00CC56; }
    .rx-app .authorize-prescriptions-wrap .cl-authtray {
      background: #FCFCFC;
      font-size: 13px;
      line-height: 1.42;
      width: 100%;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 999;
      -webkit-box-sizing: border-box;
      /* Safari and Chrome */
      -moz-box-sizing: border-box;
      /* Firefox */
      -ms-box-sizing: border-box;
      /* Internet Explorer */
      box-sizing: border-box;
      padding-top: 22px; }
      .rx-app .authorize-prescriptions-wrap .cl-authtray .auth-button-wrap {
        text-align: right; }
      .rx-app .authorize-prescriptions-wrap .cl-authtray .auth-button-lg {
        font-size: 18px; }
    .rx-app .authorize-prescriptions-wrap .sticky-authtray {
      min-height: 104px;
      bottom: 54px;
      top: auto;
      border-top: 1px solid #D0CFD4;
      border-bottom: 0; }
  .rx-app .edit-patient-button {
    text-align: right; }
  .rx-app .edit-patient-content {
    padding: 0; }
    .rx-app .edit-patient-content .flow-section {
      padding: 16px 0; }
    .rx-app .edit-patient-content .modal-body {
      padding: 28px 28px 0; }
    .rx-app .edit-patient-content .controls-footer {
      border-top: 1px solid #D0CFD4;
      padding: 16px 18px;
      margin: 0; }
    .rx-app .edit-patient-content .patient-demographics {
      border-bottom: none; }
    .rx-app .edit-patient-content .patient-medical-history {
      padding-bottom: 0; }
      .rx-app .edit-patient-content .patient-medical-history .fieldcontrols {
        padding: 18px 28px 12px;
        margin-left: -28px;
        margin-right: -28px; }
      .rx-app .edit-patient-content .patient-medical-history .fieldcontrols.first {
        padding-top: 0; }
      .rx-app .edit-patient-content .patient-medical-history > .section-title {
        margin-bottom: 0;
        padding-top: 16px; }
      .rx-app .edit-patient-content .patient-medical-history > .flow-section {
        display: none;
        border: none;
        padding: 8px 0 0; }
      .rx-app .edit-patient-content .patient-medical-history > .flow-section.show {
        display: block; }
    .rx-app .edit-patient-content .med-history-item-header .button-group {
      margin: 0 -10px; }
      .rx-app .edit-patient-content .med-history-item-header .button-group button {
        padding: 0 10px; }
        .rx-app .edit-patient-content .med-history-item-header .button-group button icon {
          padding-right: 4px; }
  .rx-app .medical-history-content {
    padding: 0; }
    .rx-app .medical-history-content .modal-body {
      padding: 28px 28px 0; }
    .rx-app .medical-history-content .section-title {
      margin-bottom: 12px; }
    .rx-app .medical-history-content .flow-section {
      position: relative;
      border-bottom: 1px solid #D0CFD4;
      padding: 20px 0 20px; }
    .rx-app .medical-history-content .flow-section:before, .rx-app .medical-history-content .flow-section:after {
      content: " ";
      display: table;
      clear: both; }
    .rx-app .medical-history-content .controls-footer {
      border-top: 1px solid #D0CFD4;
      padding: 16px 18px;
      margin: 0; }
    .rx-app .medical-history-content .active-items-wrap {
      margin-bottom: 22px; }
    .rx-app .medical-history-content .discontinued-section {
      background: rgba(65, 65, 65, 0.072);
      margin-left: -28px;
      margin-right: -28px;
      padding: 14px 28px 8px;
      padding-left: 28px;
      padding-right: 28px; }
    .rx-app .medical-history-content .segmented-control-wrap.medical-history-toggle {
      /*.btn.btn-show-allergies {width:25%;}
      .btn.btn-show-homemeds {width:35%;}
      .btn.btn-show-diagnoses {width:40%;}*/ }
      .rx-app .medical-history-content .segmented-control-wrap.medical-history-toggle .btn-group {
        width: 100%; }
      .rx-app .medical-history-content .segmented-control-wrap.medical-history-toggle .btn {
        min-width: 120px;
        width: 33.33333%; }
      .rx-app .medical-history-content .segmented-control-wrap.medical-history-toggle .btn.btn-show-allergies.focus, .rx-app .medical-history-content .segmented-control-wrap.medical-history-toggle .btn.btn-show-allergies:focus {
        background-color: rgba(0, 171, 68, 0.08);
        border-color: #00AB44;
        z-index: 3; }
      .rx-app .medical-history-content .segmented-control-wrap.medical-history-toggle .btn.btn-show-homemeds.focus, .rx-app .medical-history-content .segmented-control-wrap.medical-history-toggle .btn.btn-show-homemeds:focus {
        background-color: rgba(114, 13, 191, 0.08);
        border-color: #720DBF;
        z-index: 3; }
      .rx-app .medical-history-content .segmented-control-wrap.medical-history-toggle .btn.btn-show-diagnoses.focus, .rx-app .medical-history-content .segmented-control-wrap.medical-history-toggle .btn.btn-show-diagnoses:focus {
        background-color: rgba(11, 81, 255, 0.08);
        border-color: #0B51FF;
        z-index: 3; }
  .rx-app .inapp-notification-container {
    margin-bottom: 24px;
    padding: 0;
    border: 1px solid #D0CFD4;
    -webkit-border-radius: 6px;
    /* Safari and Chrome */
    -moz-border-radius: 6px;
    /* Firefox */
    -ms-border-radius: 6px;
    /* Internet Explorer */
    border-radius: 6px; }
    .rx-app .inapp-notification-container .notification-header-wrap {
      background: #00D6BA;
      color: white;
      padding: 12px;
      -webkit-border-radius: 6px 6px 0px 0px;
      /* Safari and Chrome */
      -moz-border-radius: 6px 6px 0px 0px;
      /* Firefox */
      -ms-border-radius: 6px 6px 0px 0px;
      /* Internet Explorer */
      border-radius: 6px 6px 0px 0px; }
      .rx-app .inapp-notification-container .notification-header-wrap .notification-header {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase; }
    .rx-app .inapp-notification-container .notification-msg-wrap {
      padding: 12px; }
      .rx-app .inapp-notification-container .notification-msg-wrap .notification-msg icon {
        padding-right: 8px;
        vertical-align: text-top; }
      .rx-app .inapp-notification-container .notification-msg-wrap .notification-msg .button-link {
        vertical-align: text-bottom; }
    .rx-app .inapp-notification-container .notification-controls {
      border-top: 1px solid #D0CFD4;
      padding: 6px 12px; }
      .rx-app .inapp-notification-container .notification-controls .button-group {
        margin: 0 -12px; }
        .rx-app .inapp-notification-container .notification-controls .button-group .button-link {
          border-left: 1px solid #D0CFD4;
          margin-left: -4px; }
        .rx-app .inapp-notification-container .notification-controls .button-group .button-link:first-child {
          border: none; }
    .rx-app .inapp-notification-container .notification-controls.collapsed {
      animation: collapse-notification-controls 350ms both;
      overflow: hidden; }
@keyframes collapse-notification-controls {
  0% {
    height: 37px; }
  100% {
    height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    border-color: transparent; } }
  .rx-app .selectize-input {
    min-height: 40px;
    padding: 10px 12px;
    border: 1px solid #D0CFD4;
    -webkit-border-radius: 4px;
    /* Safari and Chrome */
    -moz-border-radius: 4px;
    /* Firefox */
    -ms-border-radius: 4px;
    /* Internet Explorer */
    border-radius: 4px; }
  .rx-app .selectize-input.input-active {
    -webkit-border-radius: 4px 4px 0px 0px;
    /* Safari and Chrome */
    -moz-border-radius: 4px 4px 0px 0px;
    /* Firefox */
    -ms-border-radius: 4px 4px 0px 0px;
    /* Internet Explorer */
    border-radius: 4px 4px 0px 0px; }
  .rx-app .selectize-input, .rx-app .selectize-input.focus {
    -webkit-box-shadow: none;
    /* Safari and Chrome */
    -moz-box-shadow: none;
    /* Firefox */
    -ms-box-shadow: none;
    /* Internet Explorer */
    box-shadow: none; }
  .rx-app .selectize-input > input {
    font-size: 16px; }
  .rx-app .selectize-dropdown {
    color: #140A29;
    border: 1px solid #D0CFD4;
    border-top: 0 none; }
    .rx-app .selectize-dropdown .label {
      color: #140A29;
      font-size: 16px;
      font-weight: 500;
      display: block;
      padding: 0;
      text-align: left;
      vertical-align: middle; }
    .rx-app .selectize-dropdown .caption {
      opacity: 0.5; }
  .rx-app .selectize-dropdown [data-selectable].active {
    background: rgba(0, 127, 255, 0.15); }
  .rx-app .selectize-dropdown [data-selectable].active .caption {
    opacity: .75; }
  .rx-app .selectize-dropdown [data-selectable] .highlight {
    background: transparent;
    font-weight: 400; }
  .rx-app .selectize-control.multi .selectize-input.has-items {
    padding: 9px 12px 5px; }
  .rx-app .selectize-control.multi .selectize-input [data-value], .rx-app .selectize-control.multi .selectize-input .active[data-value] {
    -webkit-border-radius: 12px;
    /* Safari and Chrome */
    -moz-border-radius: 12px;
    /* Firefox */
    -ms-border-radius: 12px;
    /* Internet Explorer */
    border-radius: 12px;
    background: #007FFF;
    border: 1px solid transparent;
    padding-left: 11px;
    padding-right: 20px !important;
    -webkit-box-shadow: none;
    /* Safari and Chrome */
    -moz-box-shadow: none;
    /* Firefox */
    -ms-box-shadow: none;
    /* Internet Explorer */
    box-shadow: none;
    font-weight: 500; }
  .rx-app .selectize-control.multi .selectize-input .active[data-value] {
    border: 1px solid #004488; }
  .rx-app .selectize-control.plugin-remove_button [data-value] .remove {
    border: none;
    padding-right: 4px; }
  .rx-app .selectize-control.plugin-remove_button [data-value] .remove:hover {
    background: none;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); }

.auth-body .cl-auth-overlay-popup .close {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  font-size: 54px;
  font-weight: 300;
  padding: 24px 24px; }

/*-- HOME - PATIENT SEARCH --*/
#patient-search {
  /*-- home notifications --*/
  /*-- selectize overrides (DON'T USE IN FINAL MARKUP) --*/ }
  #patient-search .page-content {
    padding-top: 48px; }
  #patient-search .home-notification-banner {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    height: 43px;
    background: rgba(174, 0, 216, 0.1);
    padding: 10px 0; }
    #patient-search .home-notification-banner .home-notification-msg-wrapper {
      margin: 0 auto;
      width: 640px; }
    #patient-search .home-notification-banner .home-notification-msg {
      color: #140A29;
      text-align: center;
      font-size: 14px;
      margin: auto;
      height: 21px; }
    #patient-search .home-notification-banner .home-notification-icon {
      margin-right: 8px;
      position: relative;
      top: 2px; }
  #patient-search .selectize-input {
    height: 44px;
    padding: 12px; }
  #patient-search .selectize-dropdown [data-selectable] {
    min-height: 54px;
    padding: 12px 16px 8px; }
  #patient-search .selectize-dropdown [data-value="Add new patient"] {
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: 1px solid #D0CFD4; }
  #patient-search .selectize-dropdown [data-value="Add new patient"].active {
    background: rgba(0, 214, 186, 0.25); }
  #patient-search .selectize-dropdown [data-value="Add new patient"]:before {
    font-family: "clara-icons";
    content: "\61";
    font-size: 16px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: text-bottom; }
  #patient-search .selectize-dropdown [data-value="Add new patient"]:after {
    content: "\2026";
    margin-left: 1px; }
  #patient-search .selectize-dropdown [data-value="Add new patient"] .label {
    display: inline-block;
    vertical-align: text-bottom; }

/*-- RX SUBNAV --*/
.subnav * {
  -webkit-box-sizing: content-box;
  /* Safari and Chrome */
  -moz-box-sizing: content-box;
  /* Firefox */
  -ms-box-sizing: content-box;
  /* Internet Explorer */
  box-sizing: content-box;
  pointer-events: auto;
  margin: 0;
  padding: 0; }
.subnav .gn-content {
  margin: 0 auto;
  min-width: 600px;
  max-width: 1200px;
  padding: 0 20px;
  position: relative;
  z-index: 2; }
.subnav .gn-list {
  cursor: default;
  margin: 0 -10px;
  padding: 0;
  width: auto;
  height: 60px;
  text-align: center;
  list-style: none; }
.subnav .gn-item {
  display: inline-block;
  position: relative;
  height: 60px;
  z-index: 1;
  vertical-align: top; }
.subnav .gn-link {
  font-size: 12px;
  line-height: 3.33333;
  color: #140A29;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 8px 20px 0;
  height: 52px;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  outline: none;
  outline-offset: -7px;
  font-weight: 400;
  cursor: default;
  pointer-events: none; }

#rx-subnav {
  position: fixed;
  top: 48px; }
  #rx-subnav .gn-text {
    opacity: .5; }
  #rx-subnav .gn-link.active .gn-text {
    opacity: 1;
    padding-bottom: 2px;
    border-bottom: 2px solid #140A29; }
  #rx-subnav .gn-link .icon-progress, #rx-subnav .gn-link .gn-text {
    vertical-align: middle; }
  #rx-subnav .gn-link .icon-progress {
    font-size: 14px;
    padding-right: 6px; }
  #rx-subnav .gn-link .icon-progress.incomplete:before {
    content: "\69";
    color: #9C96B1; }
  #rx-subnav .gn-link .icon-progress.complete:before {
    content: "\64";
    color: #00CC56; }

#rx-flogress {
  position: fixed;
  bottom: 54px;
  top: auto;
  position: static;
  width: auto;
  background: none;
  float: left;
  border-bottom: none;
  height: 58px; }
  #rx-flogress .gn-content {
    min-width: auto;
    text-align: left;
    padding-left: 0; }
  #rx-flogress .gn-text {
    opacity: .5; }
  #rx-flogress .gn-link {
    padding-top: 12px; }
  #rx-flogress .gn-link.active .gn-text {
    opacity: 1;
    padding-bottom: 2px;
    border-bottom: 2px solid #140A29; }
  #rx-flogress .gn-link .icon-progress, #rx-flogress .gn-link .gn-text {
    vertical-align: middle; }
  #rx-flogress .gn-link .icon-progress {
    font-size: 14px;
    padding-right: 6px; }
  #rx-flogress .gn-link .icon-progress.incomplete:before {
    content: "\69";
    color: #9C96B1; }
  #rx-flogress .gn-link .icon-progress.complete:before {
    content: "\64";
    color: #00CC56; }

/*-- NAVIGATION --*/
#globalnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

/*-- FOOTER -- */
#globalfooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

/*-- RESPONSIVE --*/
@media only screen and (min-width: 1280px) {
  #editPatient .modal-dialog {
    width: 1200px; }

  .rx-app .edit-patient-content .patient-demographics, .rx-app .edit-patient-content .patient-medical-history {
    width: 50%;
    float: left;
    padding: 0 28px; }
  .rx-app .edit-patient-content .patient-demographics {
    border-right: 1px solid #D0CFD4;
    padding-bottom: 28px; }
  .rx-app .edit-patient-content .patient-medical-history {
    border-left: 1px solid #D0CFD4;
    margin-left: -1px; }
  .rx-app .edit-patient-content .edit-patient-section-wrap {
    margin: 0 -28px;
    margin-top: 14px; }
  .rx-app .edit-patient-content .ep-subnav {
    display: none; }
  .rx-app .edit-patient-content .edit-patient-section-wrap.demographics-only .patient-demographics, .rx-app .edit-patient-content .edit-patient-section-wrap.demographics-only .patient-medical-history, .rx-app .edit-patient-content .edit-patient-section-wrap.medical-history-only .patient-demographics, .rx-app .edit-patient-content .edit-patient-section-wrap.medical-history-only .patient-medical-history {
    width: 100%;
    float: none;
    border: none; } }
@media only screen and (max-width: 1279px) {
  .rx-app .edit-patient-content .ep-subnav {
    margin: 0 -28px;
    border-bottom: 1px solid #D0CFD4; }
    .rx-app .edit-patient-content .ep-subnav .ep-content {
      margin: 0;
      margin-top: 6px;
      padding: 12px 10px; }
    .rx-app .edit-patient-content .ep-subnav .ep-item {
      display: inline-block;
      padding: 0 18px;
      position: relative; }
    .rx-app .edit-patient-content .ep-subnav .ep-link {
      color: #140A29;
      font-size: 14px;
      cursor: pointer; }
    .rx-app .edit-patient-content .ep-subnav .ep-item.active .ep-link {
      opacity: .3; }
    .rx-app .edit-patient-content .ep-subnav .ep-item.active:after {
      content: "";
      width: 14px;
      height: 14px;
      display: block;
      position: absolute;
      bottom: -19.5px;
      left: 50%;
      margin-left: -8px;
      background: white;
      transform: rotate(45deg);
      border-top: 1px solid #D0CFD4;
      border-left: 1px solid #D0CFD4; }
  .rx-app .edit-patient-content .edit-patient-section-wrap > .flow-section {
    display: none; }
  .rx-app .edit-patient-content .edit-patient-section-wrap > .flow-section.show {
    display: block; }
  .rx-app .patient-medical-history .fieldcontrols .list-home-med-details {
    width: 87.397%; } }
@media only screen and (max-width: 1280px) {
  .rx-app .app-section-body {
    max-width: 100%; }
  .rx-app .edit-col {
    padding-left: 50px;
    padding-right: 50px;
    min-width: auto; }
  .rx-app .confirm-col {
    padding-left: 50px;
    padding-right: 50px; }
  .rx-app .patient-medical-history .fieldcontrols {
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px; }
  .rx-app .allergies-section .lg-10, .rx-app .homemeds-section .lg-10, .rx-app .diagnoses-section .lg-10 {
    width: 80%; }
  .rx-app .allergies-section .lg-2, .rx-app .homemeds-section .lg-2, .rx-app .diagnoses-section .lg-2 {
    width: 20%; } }
@media only screen and (max-width: 1024px) {
  .rx-app .app-background-edit, .rx-app .app-background-confirm {
    display: none; }
  .rx-app .edit-col, .rx-app .confirm-col {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; }
    .rx-app .edit-col .flow-section, .rx-app .confirm-col .flow-section {
      max-width: 504px; }
  .rx-app .edit-col {
    padding-left: 28px;
    padding-right: 28px;
    min-width: 503px; }
    .rx-app .edit-col .medications-wrapper, .rx-app .edit-col .add-more-wrapper, .rx-app .edit-col .pediatric-notification {
      max-width: 504px;
      margin-left: auto;
      margin-right: auto; }
      .rx-app .edit-col .medications-wrapper .flow-section, .rx-app .edit-col .add-more-wrapper .flow-section, .rx-app .edit-col .pediatric-notification .flow-section {
        width: 100%; }
      .rx-app .edit-col .medications-wrapper .medication.collapsed, .rx-app .edit-col .add-more-wrapper .medication.collapsed, .rx-app .edit-col .pediatric-notification .medication.collapsed {
        height: 90px !important; }
  .rx-app .confirm-col {
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 36px;
    padding-bottom: 36px;
    background: #FCFCFC;
    border: none; }
  .rx-app .allergies-section .lg-10, .rx-app .homemeds-section .lg-10, .rx-app .diagnoses-section .lg-10 {
    width: 83.33333%; }
  .rx-app .allergies-section .lg-2, .rx-app .homemeds-section .lg-2, .rx-app .diagnoses-section .lg-2 {
    width: 16.66667%; }
  .rx-app .patient-medical-history .fieldcontrols {
    margin-left: -28px;
    margin-right: -28px;
    padding-left: 28px;
    padding-right: 28px; } }
