$welcome-background: #201042 url(../images/account/clara_id_desktop_@2x.jpg);

$xl-screen-width: 1200px;
$lg-screen-width: 992px;
$md-screen-width: 768px;
$sm-screen-width: 576px;
$sm-container-width: 540px;
$xs-container-width: 484px;
$container-id-verification: 400px;

$globalnav-height: 48px;
$subnav-height: 60px;
$globalfooter-height: 54px;

$column-padding: 15px;
$input-height: 40px;
$input-spacing: 16px;

$border-radius: 4px;
$button-radius: 5px;

$gotham-narrow-font-stack: "Gotham Narrow A", "Gotham Narrow B", "Gotham Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
$clara-icons-font-stack: "clara-icons";
$xs-font-size: 12px;
$sm-font-size: 14px;
$base-font-size: 16px;
$sm-header-font-size: 18px;
$md-header-font-size: 24px;
$lg-header-font-size: 36px;
$base-text-spacing: 18px;
$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$color-font-primary: #140A29;
$color-font-secondary: #928A9D;
$color-font-placeholder: #9C96B1;
$color-link-primary: #007FFF;
$color-link-focus-outline: rgba(206, 0, 255, 0.4);
$color-form-error-bg: #FAEEB6;
$color-form-error-border: rgba(183, 148, 0, 0.55);
$color-border-primary: #D0CFD4;

$color-button-primary: #00D6BA;
$color-focus: #AE00D8;
$color-error: #FF0058;
$color-success: #00CC56;
$color-panel: #F8F8F8;
$color-popover-error: #382B00;

$border-primary: 1px solid #D0CFD4;
$border-darker: 1px solid #9C9B9F;

@mixin border-radius($mixin-border-radius) {
	-webkit-border-radius: $mixin-border-radius; /* Safari and Chrome */
	   -moz-border-radius: $mixin-border-radius; /* Firefox */
	    -ms-border-radius: $mixin-border-radius; /* Internet Explorer */
	  	    border-radius: $mixin-border-radius;
}

@mixin box-shadow($mixin-box-shadow) {
	-webkit-box-shadow: $mixin-box-shadow; /* Safari and Chrome */
	   -moz-box-shadow: $mixin-box-shadow; /* Firefox */
		-ms-box-shadow: $mixin-box-shadow; /* Internet Explorer */
		    box-shadow: $mixin-box-shadow;
}

@mixin box-sizing($mixin-box-sizing) {
	-webkit-box-sizing: $mixin-box-sizing; /* Safari and Chrome */
	   -moz-box-sizing: $mixin-box-sizing; /* Firefox */
		-ms-box-sizing: $mixin-box-sizing; /* Internet Explorer */
		    box-sizing: $mixin-box-sizing;
}

@mixin appearance($mixin-appearance) {
	-webkit-appearance: $mixin-appearance; /* Safari and Chrome */
	   -moz-appearance: $mixin-appearance; /* Firefox */
	        appearance: $mixin-appearance;
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased; /* Safari and Chrome */
	-moz-osx-font-smoothing: grayscale; /* Firefox */
}

/*-- LAYOUT --*/
.setup-body {color:$color-font-primary;
	.page-content {
		.container {min-width:600px; max-width:$lg-screen-width; width:auto; margin:auto; padding:0;}
		.intro {padding-top:34px;
			.description {margin-bottom:28px;}
			.intro-header {font-size:$md-header-font-size;}
		}
		.controls-footer {max-width:100%; margin:auto; text-align:center;}
		.flow-controls {margin:auto; padding:0; text-align: center; padding-bottom:50px;}
	}
	.description {font-size:$sm-header-font-size; font-weight:$font-weight-book;}
	.hero h1 {text-align:center; line-height:180px; padding:0; margin:0; font-size:40px; color:white;}
	.pg-label {font-size:$md-header-font-size; line-height:1.2; font-weight:$font-weight-medium; letter-spacing:0.015em;} 

	.controls-footer {
		.button-link, .button-flat {font-size:$sm-header-font-size;}
		.button-link.primary-action {font-weight:$font-weight-medium;}
	}
	
	.faq-item .question {margin-top: 30px; margin-bottom:7px;}
	.faq-info {text-align:inherit; padding:32px 0;}
	.icon-help {font-size:$base-font-size;}
	
	.flow-section {
		.lg-selection-wrap, .id-ver-section-wrap {text-align:center; padding:18px 20px; background:white; border:$border-primary; @include border-radius($border-radius);		
			.description {font-size:$xs-font-size; line-height:1.36;}
		}

		.lg-selection-wrap {padding-bottom:24px;
			.license-type {font-size:32px; margin-bottom:10px;}
		}

		.selection-wrap-btn:focus, .selection-wrap-btn:active {border-width:2px; border-color:$color-focus; z-index:2; padding:17px 19px; @include box-shadow(0 0 0 3px rgba(206, 0, 255, 0.2));}
	}
}

.setup-body.welcome {
	.page-content {padding-bottom:$globalfooter-height; padding-top:$globalnav-height; text-align:center;
		.content-main {display:inline-block; position: relative; padding:36px 0;
			.clara-welcome-img {width:420px;}
		}
		.content-heading {margin:18px 0 38px;
			.welcome-header {color:$color-font-primary; text-decoration:none;}
			.welcome-header h1 {font-size:42px;}
		}
		.flow-controls .button-link {font-size:28px; font-weight:$font-weight-book;}
		.footnote {color:$color-font-secondary; font-size:13px;}
	}
}

.setup-body.flow-step-body {
	.hero {height:auto; background:$welcome-background no-repeat; padding-top:$globalnav-height; background-size:cover; background-position:0 0;}
	.page-content {padding-bottom:$globalfooter-height;}
	
	.flow-section {max-width:1200px; margin:auto; width:80%; padding:30px 0;}
}

.setup-body.choose-license {
	.icon-checkmark.success {color:$color-success;}
	
	.id-ver-section-wrap {min-height:161px; background-color:$color-panel;
		.form-text {margin-bottom:10px;}
		.id-ver-type {font-size:18px; margin-bottom:10px;}
		.save-button {margin-top:6px;}
	}

	.section-wrap.success {border-color:transparent; background:none;
		.id-ver-value-wrap {margin-bottom:14px;}
		.id-ver-value {font-size:21px; font-weight:$font-weight-medium;}
	}
	
	.identity-verification {
		.row {margin-bottom:18px;}
		.row:last-child {margin-bottom:0;}
	}
	
	.container-id-verification {width:$container-id-verification;
		.section-subtitle {font-size:15px; font-weight:400; color:#817A92; text-transform:uppercase; margin:0; padding-bottom:2px; line-height:inherit;}
	}
}

.setup-body.identity-proofing {
	.id-ver-section-wrap {width:320px; border:none; padding:0; margin:auto; display:block;
		.id-ver-type {font-size:$md-header-font-size; margin-bottom:18px;}
		.id-ver-launch-flow {height:40px; margin-bottom:10px;}
		.id-ver-launch-flow:after {font-family:$clara-icons-font-stack; content:"\4e"; font-size:13px; padding-left:6px; text-decoration:none;}
	}
	.flow-section.identity-proofing {padding-bottom:48px;}
}

.setup-body.getting-started {
	.lg-selection-wrap {
		.selection-header {font-size:28px; margin-bottom:28px;}
		.selection-description {font-size:$sm-font-size; line-height:1.25; margin-bottom:42px;}
	}
}

.setup-body.invite-users {
	.license-type-header {font-size:28px; margin-bottom:12px;}
	.form-add-users {margin-bottom:4px;}
	.assigned-value-wrap {font-size:13px;}
	.assign-license-type-wrap {background-color:$color-panel; padding:12px 20px; margin-bottom:24px; border:$border-primary; @include border-radius($border-radius);}
	.last-row .assign-license-type-wrap {margin-bottom:0;}
}

.setup-body.finished {
	.clara-img-menu {display:flex; align-content: center;
		.clara-img {display:block; width:300px; height:340px; background:url(../images/setup/little-clara-welcome.png) no-repeat center;}
		.button-wrap {margin:auto; padding-bottom:60px;
			.button {margin-bottom:18px;}
		}
	}
}

/*-- SETUP NAVIGATION --*/
#setupnav * {@include box-sizing(content-box); pointer-events:auto; margin:0; padding:0;}
#setupnav {position:absolute; top:0; right:0; left:0; z-index:5999; display:block; margin:0; padding:0; width:100%; height:$globalnav-height; background:rgba(34,34,39,0.8); font-size:$sm-header-font-size; user-select:none; transition:background 0.35s linear,height 0.35s ease-in;
	input, button {border:none; background-color:transparent;}
	.sn-list {cursor:default; margin:0 -10px; padding:0; width:auto; height:$globalnav-height; text-align:center; list-style:none;}
	.sn-list::after {width: 100%; display: inline-block; content: "."; visibility: hidden}
	.sn-item {display:inline-block; position:relative; height:$globalnav-height; z-index:1; vertical-align:top;}
	.sn-text {font-size:$sm-font-size; line-height:3.33333; opacity:1; color:#fff; position:relative; z-index:1; display:inline-block; padding:2px 15px 0; height:46px; background:no-repeat; text-decoration:none; white-space:nowrap; transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); outline:none; outline-offset:-7px; font-weight:$font-weight-book;}
	.sn-text-clara {background-repeat:no-repeat; background-size:60px 20px; background-image: url(../images/logo/clara_logo-inverted.svg); background-position: center; width:60px; height:$globalnav-height; padding-top:0; padding-bottom:0;}
	.sn-item-facility {position: relative; left:22px;}
	.sn-content {margin:0 auto; min-width:600px; max-width:$xl-screen-width; padding:0 20px; position:relative; z-index:2;}
}

/*-- RESPONSIVE --*/
@media only screen and (max-width: 1279px) {
	.setup-body.welcome {
		.page-content {
			.container {padding:0 20px;}
		}
	}
}

@media only screen and (min-width: 768px) {
	.setup-body {min-height:600px;
		.content-main {width:484px;}
	}
}

@media only screen and (max-width: 767px) {
	.setup-body {
		.description {font-size:$sm-font-size;}
		.forgot-button {font-size:$sm-header-font-size;}
		icon.xl {font-size:65px;}
	}
}