$xl-screen-width: 1200px;
$lg-screen-width: 992px;
$md-screen-width: 768px;
$sm-screen-width: 576px;
$xs-container-width: 484px;

$globalnav-height: 48px;
$subnav-height: 60px;
$globalfooter-height: 54px;

$xl-app-inner-padding: 80px;
$lg-app-inner-padding: 50px;
$md-app-inner-padding: 28px;
$column-padding: 15px;
$input-height: 40px;
$input-spacing: 16px;

$border-radius: 4px;
$button-radius: 5px;

$gotham-narrow-font-stack: "Gotham Narrow A", "Gotham Narrow B", "Gotham Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
$clara-icons-font-stack: "clara-icons";
$xs-font-size: 12px;
$sm-font-size: 14px;
$base-font-size: 16px;
$sm-header-font-size: 18px;
$md-header-font-size: 24px;
$lg-header-font-size: 36px;
$base-text-spacing: 18px;
$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$color-font-primary: #140A29;
$color-font-secondary: #605868;
$color-font-placeholder: #9C96B1;
$color-link-primary: #007FFF;
$color-link-focus-outline: rgba(206, 0, 255, 0.4);
$color-form-error-bg: #FAEEB6;
$color-form-error-border: rgba(183, 148, 0, 0.55);
$color-border-primary: #D0CFD4;

$color-button-primary: #00D6BA;
$color-focus: #AE00D8;
$color-error: #FF0058;
$color-success: #00CC56;
$color-panel: #F8F8F8;
$color-favorite: #FFB806;
$color-discontinue: #FF6010;

$color-allergies: #00AB44;
$color-homemeds: #720DBF;
$color-diagnoses: #0B51FF;
$color-prescriptions: #FF066C;

$border-primary: 1px solid #D0CFD4;
$border-darker: 1px solid #9C9B9F;

//$medication-height-expanded: 322px;
$medication-height-expanded: 242px;
$medication-height-collapsed: 78px;

@mixin border-radius($mixin-border-radius) {
	-webkit-border-radius: $mixin-border-radius; /* Safari and Chrome */
	   -moz-border-radius: $mixin-border-radius; /* Firefox */
	    -ms-border-radius: $mixin-border-radius; /* Internet Explorer */
	  	    border-radius: $mixin-border-radius;
}

@mixin box-shadow($mixin-box-shadow) {
	-webkit-box-shadow: $mixin-box-shadow; /* Safari and Chrome */
	   -moz-box-shadow: $mixin-box-shadow; /* Firefox */
		-ms-box-shadow: $mixin-box-shadow; /* Internet Explorer */
		    box-shadow: $mixin-box-shadow;
}

@mixin box-sizing($mixin-box-sizing) {
	-webkit-box-sizing: $mixin-box-sizing; /* Safari and Chrome */
	   -moz-box-sizing: $mixin-box-sizing; /* Firefox */
		-ms-box-sizing: $mixin-box-sizing; /* Internet Explorer */
		    box-sizing: $mixin-box-sizing;
}

@mixin appearance($mixin-appearance) {
	-webkit-appearance: $mixin-appearance; /* Safari and Chrome */
	   -moz-appearance: $mixin-appearance; /* Firefox */
	        appearance: $mixin-appearance;
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased; /* Safari and Chrome */
	-moz-osx-font-smoothing: grayscale; /* Firefox */
}

/*-- LAYOUT --*/
.rx-app {
	.button-link {transition:all .2s ease;}
	.ellipsis {text-overflow: ellipsis; white-space:nowrap; overflow:hidden;}
	.icon {padding-right:6px; padding-bottom:2px; vertical-align:text-bottom;}
	.page-content {padding-top:108px; padding-bottom:$globalfooter-height;}
	.subnav, .submenu {background:rgba(255,255,255,.96); width:100%; height:$subnav-height; position:absolute; top:$globalnav-height; border-bottom:$border-primary; z-index:5998;}
	.subnav.affix, .submenu.affix {position:fixed; top:0; @include box-shadow(0px 0px 30px -8px rgba(0,0,0,0.15));}
	.flow-section {max-width:$xl-screen-width; margin:auto; padding:24px 0 30px; border-bottom:$border-primary;
		> .fieldgroup:last-child .form-text {margin-bottom:0;}
	}
	.flow-section:last-child {border-bottom:none;}
	.flow-section.medication:last-child {border-bottom:$border-primary;}
	.controls-footer {margin-top:20px; font-size:$base-font-size; text-align:center;}
	
	/*-- form controls --*/
	.has-controls.weight .form-text {padding-right:56px;}
	.has-controls.dosage .form-text {padding-right:calc(60% + 12px); text-align:right; border-right:1px solid transparent;}
	.control.dosage-unit {width:60%; text-align:left; padding:0;}
	.dispense-amount {color:$color-font-placeholder;}
	.dosage-unit-select {border:none; outline:none; padding:8px 12px 6px;}
	
	.allergy-label {color:$color-allergies !important;}
	.homemed-label {color:$color-homemeds !important;}
	.diagnosis-label {color:$color-diagnoses !important;}
	.prescriptions-label {color:$color-prescriptions !important;}
	
	/*-- tyopgraphy --*/
	.title h1 {text-align:center; line-height:140px; padding:0; margin:0; font-size:40px; font-weight:$font-weight-book;}
	.app-header, .modal-header {
		h1 {text-align:center; line-height:1.2; padding:0; margin:0; font-size:$lg-header-font-size; font-weight:300;
			icon {font-size:28px; padding-right:8px;}
		}
	}
	.pg-label {font-size:$md-header-font-size; line-height:1.2; font-weight:$font-weight-medium; letter-spacing:0.015em;}
	.row-header {margin:0; font-weight:normal; text-transform: uppercase; font-size:$sm-font-size; line-height:1.33333; color:$color-font-placeholder;}
	.section-title {font-size:$sm-header-font-size; font-weight: $font-weight-medium; margin-top:0; margin-bottom:16px; line-height:1; display:inline-block;}
	
	/*-- application view --*/
	.app-section-header {padding:22px 0 26px;}
	.app-section-body {max-width:$xl-screen-width; margin:auto; padding-left:20px; padding-right:20px; @include box-sizing(content-box); /*margin-bottom:$globalfooter-height;*/
		.flow-section:first-child {padding-top:0;}
	}
	.app-section-body > .row {margin-left:-20px; margin-right:-20px;}

	.app-background-edit, .app-background-confirm {position:absolute; top:108px; bottom:0; width:50%;}
	.app-background-edit {left:0; min-width:528px;}
	.app-background-confirm {right:0; border-left:$border-primary; background-color:$color-panel;}
	
	.edit-col, .confirm-col {padding-top:30px; padding-bottom:64px; width:50%;}
	.edit-col {padding-right:$xl-app-inner-padding; min-width:$xs-container-width + $xl-app-inner-padding + $column-padding;}
	.confirm-col {padding-left:$xl-app-inner-padding;}
	
	.detail, .sub-detail, .detail-overflow {display:inline-block;}
	.detail, .sub-detail {@extend .ellipsis;}
	.sub-detail {font-size:$sm-font-size; color:$color-font-secondary;}
	.sub-detail.small {font-size:11px; text-transform: uppercase;}
	.detail, .row-header {
		icon {@extend .icon}
	}
	.detail icon {color:$color-font-placeholder;}
	
	.show-discontinued, .hide-discontinued {display:none;}
	.show-discontinued.active, .hide-discontinued.active {display:inline-block;}
	//.hide-discontinued {border-left:none !important;}
	
	.add-more-wrapper {position:relative; padding:10px 0px 14px;}
	.add-more {/*position:absolute; bottom:-12px; right:0; background:white; padding-left:14px;*/}
	.button icon {@extend .icon;}
	
	.list-item-controls.pull-right {text-align:right;
		.item-control-button {float:right; margin-left:6px;}
	}
	.item-control-button {width:20px; height:20px; font-family:$clara-icons-font-stack; background:none; border:none; font-size:$base-font-size; opacity:0.4; transition:opacity .25s ease;}
	.item-control-button:hover {opacity:1;}
	
	.item-edit:before {content:"\6c";}
	.item-discontinue:before {content:"\78";}
	.item-markerror:before {content:"\45";}
	.item-recontinue:before {content:"\61";}
	
	.item-discontinue:hover, .discontinue:hover {color:$color-discontinue;}
	.item-markerror:hover, .markerror:hover {color:$color-error;}
	.item-recontinue:hover, .recontinue:hover {color:$color-link-primary;}
	
	.field-icon {transition:all .2s ease; padding-right:30px;
		~ icon:before {text-align:center; vertical-align: middle; transition:all .2s ease;}
		~ icon {position:absolute;top:12px; z-index:3;}
		~ .nofocus-icon {right:12px;}
		~ .hasfocus-icon {left:12px;}
		~ .nofocus-icon:before {opacity:1;}
		~ .hasfocus-icon:before {font-size:1px; opacity:0;}
	}
	.field-icon:focus {padding-left:36px;
		~ .nofocus-icon:before {font-size:1px; opacity:0;}
		~ .hasfocus-icon:before {font-size:$base-font-size; opacity:1;}
	}
	.field-icon ~ icon {color:$color-font-placeholder;}
	.has-error .field-icon ~ icon {color:$color-error;}

	/*-- confirm info panel --*/
	.confirm-info {@include border-radius($border-radius); padding:0px;
		.age {vertical-align: text-bottom;}
		.header {font-size:$md-header-font-size; font-weight:$font-weight-medium; margin:0; line-height:1;}
		/*.header.filled {color:$color-link-primary;}*/
		.confirm-info-flow {font-size:$base-font-size; line-height:1.25; padding:10px 0; border-top:$border-primary; opacity:.5;
			.row-header {margin-bottom:6px;}
			.row {padding:6px 0;}
		}
		.confirm-info-flow.prescriptions {
			.row-header {margin-bottom:0;}
		}
		.confirm-info-flow.current-flow-step {opacity:1;}
		.confirm-info-flow:first-child {border-top:none; padding-top:0;}
		.confirm-info-flow:last-child {padding-bottom:0;}
		.confirm-info-sticky { line-height:1.25;
			.row {padding:4px 0 6px;}
			.confirm-info-item {padding:0 18px; border-left:$border-darker;}
			.confirm-info-item.first {padding-left:0; border-left:none;}
		}
		.button-group.pull-left .button-link:first-child {padding-left:0;}
		.detail, .detail-overflow {margin-top:-4px;}
	}
	.confirm-info.empty {
		.header {font-weight:$font-weight-light;}
	}
	
	/*-- search list --*/
	.fieldcontrols .list-populate .selectize-control, .fieldcontrols .list-populate .checkbox-wrapper {margin-bottom:10px;}
	.fieldcontrols .selectize-control {width:83.33333%; display:inline-block; height:40px; margin-bottom:$input-spacing;}
	.fieldcontrols .error-msg-wrapper .selectize-control {width:100%;}
	.fieldcontrols .checkbox-wrapper {display:inline-block; height:$input-height; margin-bottom:$input-spacing; vertical-align:middle; padding-left:16px; padding-top:6px; color:$color-font-placeholder; float:right;}
	.fieldcontrols .checkbox-wrapper .checkbox {position:relative; top:-1px; margin:0; display:inline-block;}
	.checkbox + label {padding-left:6px; line-height:1; font-weight:normal;}
	
	.list-values {width:100%;}
	.ordered-list {margin-bottom:0; list-style-position: inside; list-style-type: none; margin-left:0;
		li {padding:10px 0; min-height:40px; line-height:1.2; border-bottom:$border-primary;}
		li:last-of-type {border-bottom:0;}
		
		.rx-drug-name {font-weight:$font-weight-medium;}
		
		.discontinued-list {background:rgba(65,65,65,.06); margin-left:-20px; margin-right:-20px; padding-left:20px; padding-right:20px; padding-top:10px; /*height:0px; overflow:hidden;*/ transition:all .25s ease;}
		.discontinued-label {font-size:$xs-font-size; text-transform: uppercase; font-style: italic; color:$color-font-secondary;}
		.discontinued-item {
			span, label {opacity:.6;}
		}
		.discontinued-border {width:100%; height:1px; border-top:$border-primary; float:left;}
		.discontinued-border:last-child {display:none;}
	}
	
	/*-- medical history --*/
	.patient-medical-history, .medication {
		.fieldcontrols {padding:24px 20px 18px; padding-top:12px; padding-bottom:12px; margin-left:-20px; margin-right:-20px;
			.list-home-med-details {width:90%; max-width:452px;}
			.list-item-controls {min-width:52px; height:20px;}
			icon {@extend .icon; font-size:15px; padding-bottom:3px;}
		}
		.section-header {
			.section-label {font-weight:$font-weight-medium; display:inline;
				icon {@extend .icon; font-size:15px; padding-bottom:3px;}
			}
			.button-group {margin:0 -15px;
				.button-link {padding:0 15px; border-left:$border-primary;}
				.button-link:first-child {border-left:none;}
			}
			.button-group.condensed {margin:0 -2px;
				.button-link, .button-link.button-icon {border:none; padding:0 8px;}
				.button-link.button-icon {padding:0 2px; color:$color-font-placeholder;}
			}
		}
		.fieldcontrols.first {padding-top:0;}
		.allergies-section, .diagnoses-section {background:#FFFFFF;}
		.homemeds-section {background:$color-panel;}
	}
	
	.edit-patient-content {
		.homemeds-section {background:#FFFFFF;}
		.medical-history-content > .flow-section:last-child {border-bottom:none;}
	}
	
	.allergies-section {
		.allergy, .rxn, .rxn-label {display:inline-block; vertical-align: middle;}
		.allergy, .rxn {white-space: nowrap; overflow:hidden; text-overflow: ellipsis;}
		.allergy {width:25%; margin-right:16px;}
		.rxn {width:50%;}
		.rxn-label {@extend .row-header; font-size:$xs-font-size; line-height:1.18; margin-right:4px; vertical-align:text-bottom;}
	}
	.homemeds-section {
		.home-medication-name {width:40%;}
		.home-medication-dosage {width:15%;}
		.home-medication-frequency {width:22.5%;}
		.home-medication-last-taken {width:22.5%;}
	}
	
	/*-- write prescriptions --*/
	.medications-wrapper {
		.flow-section {box-sizing:content-box;}
		.medication {height:$medication-height-expanded; transition:height .35s ease;
			.fieldgroup {opacity:1; visibility:visible; transition:all .2s ease .4s;}
			.medication-save-changes-btn {display:none;}
			.medication-favorite-btn {
				.icon-favorite {color:$color-font-placeholder;}
				.icon-favorite-selected {color:$color-favorite;}
			}
		}
		/*.medication:first-child {height:$medication-height-expanded;}*/
		.medication:only-child .medication-edit-btn, .medication .medication-edit-btn {display:none;}
		.medication:only-child .medication-delete-btn {display:none;}
		.medication.has-note {height:$medication-height-expanded + 62px + $input-spacing;
			.medication-pharmacynote-btn {color:$color-prescriptions !important;}
		}
		.medication.collapsed {height:$medication-height-collapsed !important; display:block; overflow:hidden; /*background:$color-panel; margin-left:-20px; margin-right:-20px; padding:16px 20px 18px;*/ padding-bottom:18px; animation:collapse-medication-slide 450ms both; opacity:1;
			.medication-edit-btn {display:inline-block;}
			.fieldgroup {opacity:0; visibility:hidden; transition:all .2s ease .1s;}
			.drug-name {display:block; visibility:visible;
				.form-text {background:none;}
			}
			.section-title, .drug-name {opacity:0.4;}
		}
		//.medication.collapsed:first-child {animation:collapse-first-medication-slide 450ms both;}
		//.medication.expanded:first-child {animation:expand-first-medication-slide 450ms both;}
		.medication.expanded {animation:expand-medication-slide 450ms both; opacity:1;
			.medication-edit-btn {display:none;}
			.medication-save-changes-btn {display:inline-block;}
		}
		.medication.has-note.expanded {animation:expand-medication-note-slide 450ms both;}
		.refill-quantity, .substitutes {display:flex; align-content: center;
			.refills {/*width:48px;*/ width:75%; border:$border-primary; border-radius:0px $border-radius $border-radius 0px;}
			label {padding-left:10px; margin:auto 0; font-weight:$font-weight-book; color:$color-font-placeholder; cursor:pointer;}
		}
		.label-vertical-center {display:flex; align-content:center; height:$input-height;}
		
		.pharmacy-note, .pharmacy-note + .remove-note {display:none;}
		.pharmacy-note.show {display:block; animation:expand-pharmacy-note 350ms both;}
		.pharmacy-note.show + .remove-note {display:block;}
		
		.remove-note {float:right; padding-top:3px;
			button {font-size:11px; display:block;}
		}
		
		@keyframes collapse-medication-slide {
			0% {height:$medication-height-expanded; /*background:white;*/}
			//60% {height:$medication-height-collapsed; /*background:white;*/}
			100% {height:$medication-height-collapsed; /*background:$color-panel;*/}
		}
		
		@keyframes expand-medication-slide {
			0% {height:$medication-height-collapsed; /*background:$color-panel;*/}
			//20% {height:$medication-height-collapsed; /*background:white;*/}
			100% {height:$medication-height-expanded; /*background:white;*/}
		}
		
		@keyframes expand-medication-note-slide {
			0% {height:$medication-height-collapsed; /*background:$color-panel;*/}
			//20% {height:$medication-height-collapsed; /*background:white;*/}
			100% {height:$medication-height-expanded + 62px + $input-spacing; /*background:white;*/}
		}
		
		//@keyframes collapse-first-medication-slide {
		//	0% {height:$medication-height-expanded; /*background:white;*/}
		//	60% {height:$medication-height-collapsed; /*background:white;*/}
		//	100% {height:$medication-height-collapsed; /*background:$color-panel;*/}
		//}
		
		//@keyframes expand-first-medication-slide {
		//	0% {height:$medication-height-collapsed; /*background:$color-panel;*/}
		//	40% {height:$medication-height-collapsed; /*background:white;*/}
		//	100% {height:$medication-height-expanded; /*background:white;*/}
		//}
		
		@keyframes expand-pharmacy-note {
			0% {height:0px; padding-top:0; padding-bottom:0;}
			100% {height:62px;}
		}
		
		@keyframes hide-pharmacy-note {
			0% {height:62px;}
			100% {height:0px; padding-top:0; padding-bottom:0;}
		}
	}
	
	/*-- edit patient --*/
	.edit-patient-button {text-align: right;}
	.edit-patient-content {padding:0;
		//.flow-section:first-child {padding-top:8px;}
		.flow-section {padding:16px 0;}
		.modal-header h1 {color:$color-link-primary;}
		.modal-body {padding:28px 28px 0;}
		.controls-footer {border-top:$border-primary; padding:16px 18px; margin:0;}
		.patient-demographics {border-bottom:none;}
		.patient-medical-history {padding-bottom:0;
			.fieldcontrols {padding:18px 28px 12px; margin-left:-28px; margin-right:-28px;}
			.fieldcontrols.first {padding-top:0;}
			> .section-title {margin-bottom:0; padding-top:16px;}
			> .flow-section {display:none; border:none; padding:8px 0 0;}
			> .flow-section.show {display:block;}
		}
		.med-history-item-header {
			.button-group {margin:0 -10px;
				button { padding:0 10px; 
					icon {padding-right:4px;}
				}
			}
		}
		
		//.allergies-section {
		//	.list-item-controls {height:41px; padding-bottom:4px;}
		//	.rxn-label {margin-right:8px;}
		//}
	}
	
	/*-- medical history modals --*/
	.medical-history-content {padding:0;
		.modal-body {padding:28px 28px 0;}
		.section-title {margin-bottom:12px;}
		.flow-section {position:relative; border-bottom:$border-primary; padding:20px 0 20px;}
		.flow-section:before, .flow-section:after {content:" "; display:table; clear:both;}
		.controls-footer {border-top:$border-primary; padding:16px 18px; margin:0;}
		
		.active-items-wrap {margin-bottom:22px;}
		.discontinued-section {background:rgba(65,65,65,.072); margin-left:-28px; margin-right:-28px; padding:14px 28px 8px; padding-left:28px; padding-right:28px;}
		
		.segmented-control-wrap.medical-history-toggle {
			.btn-group {width:100%;}
			.btn {min-width:120px; width:33.33333%;}
			/*.btn.btn-show-allergies {width:25%;}
			.btn.btn-show-homemeds {width:35%;}
			.btn.btn-show-diagnoses {width:40%;}*/
			.btn.btn-show-allergies.focus, .btn.btn-show-allergies:focus {background-color:rgba(0,171,68,.08); border-color:$color-allergies; z-index:3;}
			.btn.btn-show-homemeds.focus, .btn.btn-show-homemeds:focus {background-color:rgba(114,13,191,.08); border-color:$color-homemeds; z-index:3;}
			.btn.btn-show-diagnoses.focus, .btn.btn-show-diagnoses:focus {background-color:rgba(11,81,255,.08); border-color:$color-diagnoses; z-index:3;}
		}
	}
	
	.inapp-notification-container {margin-bottom:24px; padding:0; border:$border-primary; @include border-radius(6px);
		.notification-header-wrap {background:$color-button-primary; color:white; padding:12px; @include border-radius(6px 6px 0px 0px);
			.notification-header {font-size:$xs-font-size; font-weight:$font-weight-medium; text-transform: uppercase;}
		}
		.notification-msg-wrap {padding:12px;
			.notification-msg {
				icon {padding-right:8px; vertical-align: text-top;}
				.button-link {vertical-align:text-bottom;}
			}
		}
		.notification-controls {border-top:$border-primary; padding:6px 12px;
			.button-group {margin:0 -12px;
				.button-link {border-left:$border-primary; margin-left:-4px;}
				.button-link:first-child {border:none;}
			}
		}
		.notification-controls.collapsed {animation:collapse-notification-controls 350ms both; overflow:hidden;}
		
		@keyframes collapse-notification-controls {
			0% {height:37px;}
			100% {height:0px; padding-top:0; padding-bottom:0; border-color:transparent;}
		}
	}
	
	/*-- selectize overrides (DON'T USE IN FINAL MARKUP) --*/
	.selectize-input {min-height:40px; padding:10px 12px; border:$border-primary; @include border-radius($border-radius);}
	.selectize-input.input-active {@include border-radius($border-radius $border-radius 0px 0px);}
	.selectize-input, .selectize-input.focus {@include box-shadow(none);}
	.selectize-input > input {font-size:$base-font-size;}
	.selectize-dropdown {color:$color-font-primary; border:$border-primary; border-top:0 none;
		.label {color:$color-font-primary; font-size:$base-font-size; font-weight:$font-weight-medium; display:block; padding:0; text-align:left; vertical-align:middle;}
		.caption {opacity:0.5;}
	}
	.selectize-dropdown [data-selectable].active {background:rgba(0,127,255,0.15);}
	.selectize-dropdown [data-selectable].active .caption {opacity:.75;}
	.selectize-dropdown [data-selectable] .highlight {background:transparent; font-weight:$font-weight-book;}
	.selectize-control.multi .selectize-input.has-items {padding:9px 12px 5px;}

	.selectize-control.multi .selectize-input [data-value], .selectize-control.multi .selectize-input .active[data-value] {@include border-radius(12px); background: $color-link-primary; border:1px solid transparent; padding-left: 11px; padding-right:20px !important; @include box-shadow(none); font-weight:$font-weight-medium;}
	.selectize-control.multi .selectize-input .active[data-value] {border:1px solid #004488;}
	.selectize-control.plugin-remove_button [data-value] .remove {border:none; padding-right:4px;}
	.selectize-control.plugin-remove_button [data-value] .remove:hover {background: none; text-shadow: 0px 1px 2px rgba(0, 0, 0, .75);}
}

/*-- HOME - PATIENT SEARCH --*/
#patient-search {
	.page-content {padding-top:$globalnav-height;}
	
	/*-- home notifications --*/
	.home-notification-banner {position:absolute; top:$globalnav-height; left:0; right:0; height:43px; background:rgba(174,0,216, 0.10); padding:10px 0;
		.home-notification-msg-wrapper {margin:0 auto; width:640px;}
		.home-notification-msg {color:$color-font-primary; text-align:center; font-size:$sm-font-size; margin:auto; height:21px;}
		.home-notification-icon {margin-right:8px; position:relative; top:2px;}
	}
	
	/*-- selectize overrides (DON'T USE IN FINAL MARKUP) --*/
	.selectize-input {height:44px; padding:12px;}
	.selectize-dropdown [data-selectable] {min-height:54px; padding:12px 16px 8px;}
	.selectize-dropdown [data-value="Add new patient"] {padding-top:18px; padding-bottom:18px; border-top:$border-primary}
	.selectize-dropdown [data-value="Add new patient"].active {background:rgba(0,214,186,0.25);}
	.selectize-dropdown [data-value="Add new patient"]:before {font-family: $clara-icons-font-stack; content:"\61"; font-size:$base-font-size; margin-right:8px; display:inline-block; vertical-align: text-bottom;}
	.selectize-dropdown [data-value="Add new patient"]:after {content:"\2026"; margin-left:1px;}
	.selectize-dropdown [data-value="Add new patient"] .label {display: inline-block; vertical-align: text-bottom;}
}

/*-- RX SUBNAV --*/
.subnav {
	* {@include box-sizing(content-box); pointer-events:auto; margin:0; padding:0;}
	.gn-content {margin: 0 auto; min-width:600px; max-width: $xl-screen-width; padding: 0 20px; position: relative; z-index: 2;}
	.gn-list {cursor: default; margin: 0 -10px; padding: 0; width: auto; height:$subnav-height; text-align: center; list-style: none;}
	.gn-item {display: inline-block; position: relative; height: $subnav-height; z-index: 1; vertical-align: top;}
	.gn-link {font-size:12px; line-height:3.33333; color:$color-font-primary; position:relative; z-index:1; display:inline-block; padding:8px 20px 0; height:52px; background:no-repeat; text-decoration:none; white-space:nowrap; transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); outline:none; outline-offset:-7px; font-weight:$font-weight-book; cursor:default; pointer-events: none;}
}

#rx-subnav {
	.gn-text {opacity:.5;}
	.gn-link.active .gn-text {opacity:1; padding-bottom:2px; border-bottom:2px solid $color-font-primary;}
	.gn-link .icon-progress, .gn-link .gn-text {vertical-align:middle;}
	.gn-link .icon-progress {font-size:$sm-font-size; padding-right:6px;}
	.gn-link .icon-progress.incomplete:before {content: "\69"; color:$color-font-placeholder;}
	.gn-link .icon-progress.complete:before {content: "\64"; color:$color-success;}
}

/*-- RESPONSIVE --*/
@media only screen and (min-width: 1280px) {
	#editPatient {
		.modal-dialog {width:1200px;}
	}
	.rx-app {
		.edit-patient-content {
			.patient-demographics, .patient-medical-history {width:50%; float:left; padding:0 28px;}
			.patient-demographics {border-right:$border-primary; padding-bottom:28px;}
			.patient-medical-history {border-left:$border-primary; margin-left:-1px;}
			.edit-patient-section-wrap {margin:0 -28px; margin-top:14px;}
			.ep-subnav {display:none;}
			
			.edit-patient-section-wrap.demographics-only, .edit-patient-section-wrap.medical-history-only {
				.patient-demographics, .patient-medical-history {width:100%; float:none; border:none;}
			}
		}
	}
}

@media only screen and (max-width: 1279px) {
	.rx-app {
		.edit-patient-content {
			.ep-subnav {margin:0 -28px; border-bottom:$border-primary;
				.ep-content {margin:0; margin-top:6px; padding:12px 10px;}
				.ep-item {display:inline-block; padding:0 18px; position:relative;}
				.ep-link {color:$color-font-primary; font-size:$sm-font-size; cursor:pointer;}
				.ep-item.active .ep-link {opacity:.3;}
				.ep-item.active:after {content:""; width:14px; height:14px; display:block; position:absolute; bottom:-19.5px; left:50%; margin-left:-8px; background:white; transform:rotate(45deg); border-top:$border-primary; border-left:$border-primary;}
			}
			.edit-patient-section-wrap {
				> .flow-section {display:none;}
				> .flow-section.show {display:block;}
			}
		}
		.patient-medical-history .fieldcontrols .list-home-med-details {width:87.397%;}
	}
}

@media only screen and (max-width: 1280px) {
	.rx-app {
		.app-section-body {max-width:100%;}
		.edit-col {padding-left:$lg-app-inner-padding; padding-right:$lg-app-inner-padding; min-width:auto;}
		.confirm-col {padding-left:$lg-app-inner-padding; padding-right:$lg-app-inner-padding;}
		.patient-medical-history {
			.fieldcontrols {margin-left:-$lg-app-inner-padding; margin-right:-$lg-app-inner-padding; padding-left:$lg-app-inner-padding; padding-right:$lg-app-inner-padding;}
		}
		.allergies-section, .homemeds-section, .diagnoses-section {
			.lg-10 {width:80%;}
			.lg-2 {width:20%;}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.rx-app {
		.app-background-edit, .app-background-confirm {display:none;}
		.edit-col, .confirm-col {width:100%; padding-left:20px; padding-right:20px;
			.flow-section {max-width:504px; }
		}
		.edit-col {padding-left:$md-app-inner-padding; padding-right:$md-app-inner-padding; min-width:460px + $md-app-inner-padding + $column-padding;
			.medications-wrapper, .add-more-wrapper, .pediatric-notification {max-width:504px; margin-left:auto; margin-right:auto;
				.flow-section {width:100%;}
				.medication.collapsed {height:90px !important;}
			}
		}
		.confirm-col {padding-left:$md-app-inner-padding; padding-right:$md-app-inner-padding; padding-top:36px; padding-bottom:36px; background:$color-panel; border:none; }
		.allergies-section, .homemeds-section, .diagnoses-section {
			.lg-10 {width:83.33333%;}
			.lg-2 {width:16.66667%;}
		}
		.patient-medical-history {
			.fieldcontrols {margin-left:-$md-app-inner-padding; margin-right:-$md-app-inner-padding; padding-left:$md-app-inner-padding; padding-right:$md-app-inner-padding;}
		}
	}
}