/*-- LAYOUT --*/
.subnav {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 60px;
  position: absolute;
  top: 48px; }

#rx-subnav * {
  box-sizing: content-box;
  pointer-events: auto;
  margin: 0;
  padding: 0; }

#rx-subnav {
  border-bottom: 1px solid #D0CFD4;
  z-index: 6000; }
  #rx-subnav .gn-content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    position: relative;
    z-index: 2; }
  #rx-subnav .gn-list {
    cursor: default;
    margin: 0 -10px;
    padding: 0;
    width: auto;
    height: 60px;
    text-align: center;
    list-style: none; }
  #rx-subnav .gn-item {
    display: inline-block;
    position: relative;
    height: 60px;
    z-index: 1;
    vertical-align: top; }
  #rx-subnav .gn-link {
    font-size: 12px;
    line-height: 3.33333;
    color: #140A29;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 9px 20px 0;
    height: 51px;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    outline: none;
    outline-offset: -7px;
    font-weight: 400;
    cursor: default;
    pointer-events: none; }
  #rx-subnav .gn-text {
    opacity: .5; }
  #rx-subnav .gn-link.active .gn-text {
    opacity: 1;
    padding-bottom: 2px;
    border-bottom: 2px solid #140A29; }
  #rx-subnav .gn-link .icon-progress, #rx-subnav .gn-link .gn-text {
    vertical-align: middle; }
  #rx-subnav .gn-link .icon-progress {
    font-size: 14px;
    padding-right: 6px; }
  #rx-subnav .gn-link .icon-progress.incomplete:before {
    content: "\69";
    color: #9C96B1; }
  #rx-subnav .gn-link .icon-progress.complete:before {
    content: "\64";
    color: #00CC56; }

.rx-app .page-content {
  padding-top: 108px; }
.rx-app .row-header, .rx-app .patient-medical-history .allergies-section .rxn-label {
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.33333;
  color: #9C96B1; }
.rx-app .section-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1; }
.rx-app .fieldcontrols .list-populate .selectize-control, .rx-app .fieldcontrols .list-populate .checkbox-wrapper {
  margin-bottom: 10px; }
.rx-app .fieldcontrols .selectize-control {
  width: 83.33333%;
  display: inline-block;
  height: 40px;
  margin-bottom: 16px; }
.rx-app .fieldcontrols .error-msg-wrapper .selectize-control {
  width: 100%; }
.rx-app .fieldcontrols .checkbox-wrapper {
  display: inline-block;
  height: 40px;
  margin-bottom: 16px;
  vertical-align: middle;
  padding-left: 16px;
  padding-top: 6px;
  color: #9C96B1;
  float: right; }
.rx-app .fieldcontrols .checkbox-wrapper .checkbox {
  position: relative;
  top: -1px;
  margin: 0;
  display: inline-block; }
.rx-app .checkbox + label {
  padding-left: 8px;
  line-height: 1;
  font-weight: normal; }
.rx-app .list-values {
  width: 100%; }
.rx-app .ordered-list {
  margin-bottom: 0;
  list-style-position: inside;
  list-style-type: none;
  margin-left: 0; }
.rx-app .ordered-list li {
  padding: 10px 0;
  height: 40px;
  line-height: 1.2;
  border-bottom: 1px solid #D0CFD4; }
.rx-app .ordered-list li:last-of-type {
  border-bottom: 0; }
.rx-app .patient-medical-history .fieldcontrols {
  padding: 24px 20px 18px;
  margin-left: -20px;
  margin-right: -20px; }
  .rx-app .patient-medical-history .fieldcontrols .list-item-controls {
    height: 20px;
    display: flex;
    align-items: flex-end; }
.rx-app .patient-medical-history .fieldcontrols.first {
  padding-top: 0; }
.rx-app .patient-medical-history .list-item-controls.pull-right .item-control-button {
  margin-left: 6px; }
.rx-app .patient-medical-history .item-control-button {
  width: 20px;
  height: 20px;
  font-family: "clara-icons";
  background: none;
  border: none;
  font-size: 16px;
  opacity: 0.4;
  transition: opacity .25s ease; }
.rx-app .patient-medical-history .item-control-button:hover {
  opacity: 1; }
.rx-app .patient-medical-history .item-edit:before {
  content: "\6c"; }
.rx-app .patient-medical-history .item-delete:before {
  content: "\6b"; }
.rx-app .patient-medical-history .allergies-section, .rx-app .patient-medical-history .diagnoses-section {
  background: #fff; }
.rx-app .patient-medical-history .homemeds-section {
  background: #F8F8F8; }
.rx-app .patient-medical-history .allergies-section .allergy, .rx-app .patient-medical-history .allergies-section .rxn, .rx-app .patient-medical-history .allergies-section .rxn-label {
  display: inline-block;
  vertical-align: middle; }
.rx-app .patient-medical-history .allergies-section .allergy, .rx-app .patient-medical-history .allergies-section .rxn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.rx-app .patient-medical-history .allergies-section .allergy {
  width: 25%;
  margin-right: 16px; }
.rx-app .patient-medical-history .allergies-section .rxn {
  width: 50%; }
.rx-app .patient-medical-history .allergies-section .rxn-label {
  line-height: 1.2;
  margin-right: 4px; }
.rx-app .edit-patient-button {
  text-align: right; }
.rx-app .edit-patient-content {
  padding-top: 28px; }
  .rx-app .edit-patient-content .flow-section:first-child {
    padding-top: 8px; }
  .rx-app .edit-patient-content .flow-section {
    padding: 16px 0; }
  .rx-app .edit-patient-content .modal-header h1 {
    color: #007FFF; }
  .rx-app .edit-patient-content .modal-body {
    padding: 0; }
  .rx-app .edit-patient-content .controls-footer {
    margin-top: 0; }
  .rx-app .edit-patient-content .patient-medical-history {
    padding-bottom: 0; }
    .rx-app .edit-patient-content .patient-medical-history .fieldcontrols {
      padding-top: 18px;
      padding-bottom: 12px; }
    .rx-app .edit-patient-content .patient-medical-history .fieldcontrols.first {
      padding-top: 0; }
  .rx-app .edit-patient-content .allergies-section .ordered-list li {
    height: 61px; }
  .rx-app .edit-patient-content .allergies-section .list-item-controls {
    height: 41px;
    padding-bottom: 4px; }
  .rx-app .edit-patient-content .allergies-section .rxn-label {
    margin-right: 8px; }

.page-content {
  padding-top: 48px;
  padding-bottom: 54px; }

.flow-section {
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  border-bottom: 1px solid #D0CFD4; }

.flow-section:last-child {
  border-bottom: none; }

.container-xs {
  width: 484px; }

.controls-footer {
  margin-top: 20px;
  font-size: 16px;
  text-align: center; }

/*-- NOTIFICATIONS --*/
.home-notification-banner {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  height: 39px;
  background: rgba(174, 0, 216, 0.1);
  padding: 10px 0; }
  .home-notification-banner .home-notification-msg-wrapper {
    margin: 0 auto;
    width: 640px; }
  .home-notification-banner .home-notification-msg {
    color: #140A29;
    text-align: center;
    font-size: 14px;
    margin: auto; }
  .home-notification-banner .home-notification-icon {
    margin-right: 8px;
    position: relative;
    top: 2px; }

/*-- TYPOGRAPHY --*/
.title h1 {
  text-align: center;
  line-height: 140px;
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 400; }

.app-header h1, .modal-header h1 {
  text-align: center;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 200; }

.pg-label {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.015em; }

/*-- SELECTIZE OVERRIDES --*/
.selectize-input {
  min-height: 40px;
  padding: 10px 12px;
  border: 1px solid #D0CFD4; }

.selectize-input, .selectize-input.focus {
  box-shadow: none; }

.selectize-input > input {
  font-size: 16px; }

.selectize-dropdown {
  color: #140A29;
  border: 1px solid #D0CFD4;
  border-top: 0 none; }
  .selectize-dropdown .label {
    color: #140A29;
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding: 0;
    text-align: left;
    vertical-align: middle; }
  .selectize-dropdown .caption {
    opacity: 0.5; }

.selectize-dropdown [data-selectable].active {
  background: rgba(0, 127, 255, 0.15); }

.selectize-dropdown [data-selectable].active .caption {
  opacity: .75; }

.selectize-dropdown [data-selectable] .highlight {
  background: transparent;
  font-weight: 400; }

.selectize-control.multi .selectize-input.has-items {
  padding: 9px 12px 5px; }

.selectize-control.multi .selectize-input [data-value], .selectize-control.multi .selectize-input .active[data-value] {
  border-radius: 12px;
  background: #007FFF;
  border: 1px solid transparent;
  padding-left: 11px;
  padding-right: 20px !important;
  box-shadow: none;
  font-weight: 500; }

.selectize-control.multi .selectize-input .active[data-value] {
  border: 1px solid #004488; }

.selectize-control.plugin-remove_button [data-value] .remove {
  border: none;
  padding-right: 4px; }

.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: none;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); }

.selectize-dropdown div[data-value="Add new patient"]:before {
  font-family: "clara-icons";
  content: "\61";
  font-size: 16px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: text-bottom; }

.selectize-dropdown div[data-value="Add new patient"]:after {
  content: "\2026";
  margin-left: 1px; }

.selectize-dropdown div[data-value="Add new patient"] .label {
  display: inline-block;
  vertical-align: text-bottom; }

/*-- FORM VALIDATION --*/
.error-msg-wrapper {
  position: relative;
  float: left; }

.error-msg {
  display: none;
  color: #ff0058;
  font-size: 13px;
  padding: 0 12px;
  margin-bottom: 10px; }

.error-msg-wrapper.has-error .form-text {
  margin-bottom: 4px; }
.error-msg-wrapper.has-error input::-webkit-input-placeholder, .error-msg-wrapper.has-error input::placeholder, .error-msg-wrapper.has-error select, .error-msg-wrapper.has-error .select-wrapper:before {
  color: #ff0058; }
.error-msg-wrapper.has-error .error-msg.show {
  display: block; }

.error-msg-wrapper.has-error:before {
  content: "";
  position: absolute;
  top: 16px;
  right: 12px;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: #ff0058;
  z-index: 99; }

.error-msg-wrapper.has-error.select:before {
  background-color: transparent; }

/*-- PICK A PATIENT --*/
#pick-patient-content .selectize-input {
  height: 44px;
  padding: 12px; }
#pick-patient-content .selectize-dropdown [data-selectable] {
  min-height: 54px;
  padding: 12px 16px 8px; }
#pick-patient-content .selectize-dropdown [data-value="Add new patient"] {
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid #D0CFD4; }
#pick-patient-content .selectize-dropdown [data-value="Add new patient"].active {
  background: rgba(0, 214, 186, 0.25); }

/*-- APPLICATION --*/
.app-section-header {
  padding: 22px 0 26px; }

.app-section-body {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: content-box;
  /*margin-bottom:54px;*/ }
  .app-section-body .flow-section:first-child {
    padding-top: 0; }

.app-background-left, .app-background-right {
  width: 50%;
  position: absolute;
  top: 108px;
  bottom: 0; }

.app-background-left {
  left: 0; }

.app-background-right {
  right: 0;
  border-left: 1px solid #D0CFD4;
  background-color: #F8F8F8; }

.app-left-col, .app-right-col {
  padding-top: 30px;
  padding-bottom: 30px; }

.lg-6.app-left-col {
  padding-right: 80px;
  /*border-right:$border-primary;*/ }

.lg-6.app-right-col {
  padding-left: 80px; }

.confirm-info {
  border-radius: 4px;
  background-color: #F8F8F8;
  padding: 0px;
  /*.header.filled {color:$color-link-primary;}*/ }
  .confirm-info .header {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    line-height: 1; }
  .confirm-info .confirm-info-flow {
    font-size: 16px;
    line-height: 1.33333;
    padding: 10px 0;
    border-top: 1px solid #D0CFD4; }
    .confirm-info .confirm-info-flow .row {
      padding: 6px 0; }
    .confirm-info .confirm-info-flow .confirm-info-item {
      padding: 0 18px;
      border-left: 1px solid #9C9B9F; }
    .confirm-info .confirm-info-flow .confirm-info-item.first {
      padding-left: 0;
      border-left: none; }
  .confirm-info .confirm-info-flow.first {
    border-top: none;
    padding-top: 0; }
  .confirm-info .confirm-info-flow.last {
    padding-bottom: 0; }
  .confirm-info .button-group.pull-left .button-link:first-child {
    padding-left: 0; }
  .confirm-info .email-address {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.confirm-info.empty .header {
  font-weight: 200; }
