$signin-background: #201042 url(../images/signin/clara_signin_desktop_@2x.jpg);
$signin-input-border: rgba(42, 42, 42, 0.3);

$xl-screen-width: 1200px;
$lg-screen-width: 992px;
$md-screen-width: 768px;
$sm-screen-width: 576px;
$xs-container-width: 484px;

$globalnav-height: 48px;
$subnav-height: 60px;
$globalfooter-height: 54px;

$column-padding: 15px;
$input-height: 40px;
$input-spacing: 16px;

$border-radius: 4px;
$button-radius: 5px;

$gotham-narrow-font-stack: "Gotham Narrow A", "Gotham Narrow B", "Gotham Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
$clara-icons-font-stack: "clara-icons";
$sm-font-size: 14px;
$base-font-size: 16px;
$sm-header-font-size: 18px;
$md-header-font-size: 24px;
$lg-header-font-size: 36px;
$base-text-spacing: 18px;
$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$color-font-primary: #140A29;
$color-font-placeholder: #9C96B1;
$color-link-primary: #007FFF;
$color-link-focus-outline: rgba(206, 0, 255, 0.4);
$color-form-error-bg: #FAEEB6;
$color-form-error-border: rgba(183, 148, 0, 0.55);
$color-border-primary: #D0CFD4;

$color-button-primary: #00D6BA;
$color-focus: #AE00D8;
$color-error: #FF0058;
$color-success: #00CC56;
$color-panel: #F8F8F8;
$color-popover-error: #382B00;

$border-primary: 1px solid #D0CFD4;
$border-darker: 1px solid #9C9B9F;

@mixin border-radius($mixin-border-radius) {
	-webkit-border-radius: $mixin-border-radius; /* Safari and Chrome */
	   -moz-border-radius: $mixin-border-radius; /* Firefox */
	    -ms-border-radius: $mixin-border-radius; /* Internet Explorer */
	  	    border-radius: $mixin-border-radius;
}

@mixin box-shadow($mixin-box-shadow) {
	-webkit-box-shadow: $mixin-box-shadow; /* Safari and Chrome */
	   -moz-box-shadow: $mixin-box-shadow; /* Firefox */
		-ms-box-shadow: $mixin-box-shadow; /* Internet Explorer */
		    box-shadow: $mixin-box-shadow;
}

@mixin box-sizing($mixin-box-sizing) {
	-webkit-box-sizing: $mixin-box-sizing; /* Safari and Chrome */
	   -moz-box-sizing: $mixin-box-sizing; /* Firefox */
		-ms-box-sizing: $mixin-box-sizing; /* Internet Explorer */
		    box-sizing: $mixin-box-sizing;
}

@mixin appearance($mixin-appearance) {
	-webkit-appearance: $mixin-appearance; /* Safari and Chrome */
	   -moz-appearance: $mixin-appearance; /* Firefox */
	        appearance: $mixin-appearance;
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased; /* Safari and Chrome */
	-moz-osx-font-smoothing: grayscale; /* Firefox */
}

/*-- LAYOUT --*/
.si-body {
	/*-- notifications --*/
	.si-notification-banner {position:absolute; top:$globalnav-height; left:0; right:0; height:43px; background:rgba(0,0,0,.3); padding:10px 0;
		.si-notification-msg-wrapper {margin:0 auto; width:640px;}
		.si-notification-msg {color:white; text-align:center; font-size:$sm-font-size; margin-bottom:0; height:21px;}
	}
	
	/*-- password helper --*/
	.password-input {
		.popover {background:$color-panel; max-width:250px;}
		.popover>.arrow:after {border-bottom-color:$color-panel;}
		.popover-content {padding:18px 20px;}
		.password-strength .error {line-height:1.85;}
		.password-strength .error .message {display:inline-block; vertical-align: middle;}
		.password-strength .hint {border-top:$border-primary; padding-top:6px; margin-top:14px; display:inline-block;}
	}
	
	/*-- popover errors --*/
	.si-container {
		.pop-container.error {margin:auto; max-width: 305px;}
		.signin-error {width:100%; font-weight:$font-weight-medium; font-size:15px; color:#382b00;}
		.signin-error a {color:#382b00; display:block; font-weight:$font-weight-book; text-decoration: underline;}
		.pop-container {z-index:1000000; position:relative;}
		.pop-bottom {background-color:#FAEEB6; position:absolute; width: 100%; margin-left:-50%; @include border-radius($border-radius); left:50%; border: 1px solid rgba(183, 148, 0, 0.55); @include box-shadow(0px 5px 10px 2px rgba(0, 0, 0, 0.1)); margin-top:6px; padding:11px 18px; animation:fade-in 200ms ease-in-out;}
		.pop-bottom:before {background-color:#FAEEB6; width: 15px; height: 15px;  content: ""; position: absolute; left: 47.2%; transform: rotate(135deg) skewX(5deg) skewY(5deg); top: -9px; border-left: 1px solid rgba(183, 148, 0, 0.55); border-bottom: 1px solid rgba(183, 148, 0, 0.55); @include box-shadow(-1px 1px 2px -1px rgba(183, 148, 0, 0.55));}
	}

	.error.pop-bottom {display:none;}
	.error.pop-bottom.show {display:block;}
	#error-msg {max-height:75px; overflow-y:auto;}
	#error-msg error {display:block;}

	.error-msg-wrapper {
		.popover {background-color:$color-form-error-bg; @include border-radius($border-radius); border:1px solid $color-form-error-border; @include box-shadow(0px 5px 10px 2px rgba(0, 0, 0, 0.1)); padding:11px 18px; font-size:$base-font-size; text-align:center; max-width:300px;}
		.popover.top>.arrow {border-top-color:$color-form-error-border;}
		.popover.top>.arrow:after {border-top-color:$color-form-error-bg;}
		.popover.bottom>.arrow {border-bottom-color:$color-form-error-border;}
		.popover.bottom>.arrow:after {border-bottom-color:$color-form-error-bg;}
	}
}

.si-body.auth {
	input[type="submit"] {width:1px; height:1px; background-color:transparent; visibility:hidden; border:none; margin:0; padding:0;}
	#wrapper {background:$signin-background no-repeat; background-position:center 50%; background-size:cover;}
	
	.logo {text-align:center; margin-bottom:0; line-height:.5;}
	.clara-si-logo {width:214px;}
	.auth-container {width:640px; height:480px; padding-top:140px; position:relative; z-index:inherit; text-align:center; @include box-sizing(border-box);
		.si-button {border:0; position: absolute; top:91.5px; right:5px; background: transparent; outline: none; cursor: pointer; padding:6px; color:#2A2A2A; font-size:26px;}
		.si-button:disabled {opacity:.3; pointer-events:none;}
		.si-container {position:relative; text-align:center; width:350px; padding:0;}
		.si-input-field {width:100%; border:0px; padding:8px 12px;  outline:none; vertical-align:middle; line-height:inherit; @include font-smoothing; font-size:$base-font-size; font-weight:$font-weight-book; background: transparent; @include border-radius($button-radius); @include box-shadow(inherit); @include box-sizing(border-box);}
		.si-password {padding-right:38px;}
		.ux-border {border:1px solid $signin-input-border; background-color:#fff;}
		.ux-border.clara-id {border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-bottom-width: 0px;}
		.ux-border.pwd {border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-width: 0px;}
		.ux-border.focus {border-color:$color-focus !important;}

		.field-separator {width:calc(100% - 2px); position:absolute; left:1px; background-color:$signin-input-border; height:1px; z-index:1;}
		.field-separator.focus {background-color:$color-focus !important;}
	}
}

.si-body.create-id, .si-body.faq, .si-body.recover-id {
	.hero {height:auto; background:$signin-background no-repeat; padding-top:$globalnav-height; background-size:cover; background-position:0 0;}
	.page-content {padding-bottom:$globalfooter-height;
		.container {min-width:600px; max-width:$lg-screen-width; width:auto; margin:auto; padding:0;}
		.intro {padding-top:30px;}
		.controls-footer {max-width:100%; margin:auto; text-align:center;}
		.flow-controls {margin:auto; padding:0; text-align: center; padding-bottom:50px;}
	}
	
	.flow-section {max-width:1200px; margin:auto; width:80%; padding:30px 0; border-bottom:1px solid $color-border-primary;}
	.privacy-details {font-size:$sm-font-size; padding:30px 0;}
}

/*-- TYPOGRAPHY --*/
.si-body {color:$color-font-primary;
	.si-container-title {font-size:$md-header-font-size; font-weight:$font-weight-light; margin:22px auto 16px;}
	.description {font-size:$sm-header-font-size; font-weight:$font-weight-book;}
	.hero h1 {text-align:center; line-height:180px; padding:0; margin:0; font-size:40px;}
	.pg-label {font-size:$md-header-font-size; line-height:1.2; font-weight:$font-weight-medium; letter-spacing:0.015em;} 

	.faq-item .question {margin-top: 30px; margin-bottom:7px;}
	.faq-info {text-align:inherit; padding:32px 0;}

	.controls-footer .button-link {font-size:$sm-header-font-size;}
	.controls-footer .button-link.primary-action {font-weight:$font-weight-medium;}
	
	.icon-help {font-size:$base-font-size;}
}

/*-- SIGN IN HELPERS --*/
.si-body.auth {
	.si-remember-password {display: inline-block; position: relative; font-size:15px; margin: 18px 0 16px 0px; font-weight: $font-weight-book;
		label[for=remember-me] {padding-left:3px; font-size:$sm-font-size;}
	}
	.forgot {display:flex; text-align: center; padding-top:85px; justify-content: center; width: 100%;
		a {color:$color-font-primary; font-size:$sm-font-size; text-align:center;}
	}
	.forgot-button {display:block; font-size:21px; margin-top:20px;}
}

/*-- CREATE YOUR CLARA ID --*/
.si-body.create-id {
	.claraid-field-info + .popover {width:246px;}
	.bd-field-info + .popover {width:300px;}
	.form-field-birthday:focus::-webkit-input-placeholder, .form-field-birthday:focus::placeholder {color:$color-font-primary;}
	.intro-link {font-size:13px; margin-top:12px;}
}

#verifyEmail {
	.modal-dialog {max-width:520px;}
	.modal-content {padding:0;}
	.modal-body {max-width:372px; padding:16px 16px 28px;
		h1 {margin-bottom:16px;}
		.description {line-height:1.4; margin-bottom:12px;}
	}
	
	.icon-mail:before {font-size:96px; line-height:1; color:$color-font-placeholder;}
	
	.security-code {max-width:280px; margin:0 auto;
		.form-text {text-align:center; height:50px; font-size:24px; font-weight: $font-weight-medium;}
	}
}

/*-- RECOVER CLARA ID -*/
.si-body.recover-id {
	.content-main {display:inline-block; position: relative; padding-bottom:26px;}
	.content-heading {margin-top:36px;
		.subtitle {margin-bottom:8px; font-size:$md-header-font-size; font-weight:$font-weight-medium; line-height:1.25;}
		.description {margin-top:16px;}
		.subtitle.narrow, .description.narrow {padding:0 20px;}
	}
	.content-body {margin-top:16px; padding:0 20px;}
	.content-item {margin-bottom:12px; position:relative;}
	input + .content-item, .error-msg-wrapper + .content-item {margin-top:8px;}
	
	.page-content {text-align:center;}
	.flow-controls .button-link {font-size:21px; font-weight:$font-weight-book;}

	.header-icon-wrap {margin-bottom:30px;}
	.image.image-header {width:72px; height:72px;}
	.icon-checkmark.success {color:$color-success;}
}

/*-- RESPONSIVE --*/
@media only screen and (max-width: 1279px) {
	.si-body.create-id, .si-body.faq, .si-body.recover-id {
		.page-content {
			.container {padding:0 20px;}
		}
	}
}

@media only screen and (min-width: 768px) {
	.si-body {min-height:600px;
		.content-main {width:484px;}
	}
}

@media only screen and (max-width: 767px) {
	.si-body {
		.logo-wrap .keystone-signin-logo {height:40px;}
		.description {font-size:$sm-font-size;}
		.forgot-button {font-size:$sm-header-font-size;}
		icon.xl {font-size:65px;}
	}
}

@media only screen and (max-width: 370px) {
	.si-body {
		.auth-container {max-width:300px; padding-left:10px; padding-right:10px;}
		icon.xl {font-size:50px;}
	}
}